@media only screen and (max-width: 230px) {

    .second-section-text p {
        height: 110px;
        font-size: 9px;
    }

    .background-color-second-section {
        padding: 30px 0 44px 0;
    }

    #arrow-right {
        top: 50%;
    }

    #arrow-left {
        top: 50%;
    }

    .third-button button {
        width: 88px;
        height: 31px;
    }

    .button-hover h4 {
        font-size: 7px;
        font-weight: 500;
        top: 1px;
    }

    .top-right-content {
        margin-bottom: 45px;
    }

    /* third section */

    .third-section-left-bottom-content h3 {
        font-size: 15px;
        width: 100%;
    }

    .row-text h3 {
        font-size: 15px;
    }

    .second-container {
        margin-bottom: 14px;
    }
}