@media only screen and (max-width: 370px) {
    .page-title h1 {
        width: 90%;
    }

    .second-section-text p {
        height: 105px;
    }

    .second-container {
        margin-bottom: 25px;
    }

    .top-right-content {
        margin-bottom: 65px;
    }
}