@media only screen and (max-width: 414px) {
    /* first section */
    
    .page-title h1 {
        font-size: 21px;
    }

    .page-title h2 {
        font-size: 11px;
    }

    .btn-first-section {
        margin-right: 20px;
    }

    .btn {
        width: 95px;
        height: 33px;
    }

    .btn.btn-menu {
        width: 107px;
        height: 27px;
    }

    .btn.btn-menu span {
        font-size: 9px;
        margin-top: -14px;
    }

    .btn span {
        font-size: 8px !important;
        letter-spacing: 0.5px;
        margin-top: 12px !important;
    }

    .first-section-content {
        display: block;
        width: 100%;
    }

    .button {
        margin: 0 10px 0 10px;
    }

    .second-button h5 {
        font-size: 10px;
        font-weight: 700;
    }

    .button.second-button {
        border-width: 1px;
    }

    .right-content {
        margin: 40px 0;
    }

    .border {
        width: 210px;
    }

    .img-in-border {
        width: 200px;
        margin-top: 5px;
        margin-left: 5px;
    }

    /* second section */


    .second-container {
        margin-bottom: 0;
        grid-template-rows: 25% 25% 50%;
    }

    .background-color-second-section {
        padding: 30px 0 0px 0;
    }

    .top-right-content {
        position: relative;
        margin-bottom: 40px;
    }

    .top-right-content .first-slide {
        width: 90%;
    }

    .second-slide {
        width: 98%;
    }

    .second-section-title h3 {
        font-size: 21px;
        margin: 0px 0 10px 0;
    }

    .second-section-text p {
        font-size: 11px;
        line-height: 22px;
        height: 110px;
    }

    .third-button button {
        width: 105px;
        height: 36px;
        border: solid white 1px;
    }

    .button-hover h4 {
        color: white;
        font-size: 9px;
        font-weight: 600;
        letter-spacing: 1.5px;
    }

    .button-hover {
        width: 110px;
        height: 37px;
    }

    #arrow-right {
        width: 20px;
        height: 20px;
    }

    .arrow-lines.right {
        width: 7px;
        height: 7px;
        margin-top: 6px;
        margin-left: 5px;
    }

    #arrow-left {
        width: 20px;
        height: 20px;
    }

    .arrow-lines.left {
        margin-left: 8px;
        width: 7px;
        height: 7px;
        margin-top: 6px;
    }


    /* third section */

    #third-section {
        margin: 25px 0;
    }

    .third-section-title h3 {
        font-size: 21px;
    }

    .third-section-content {
        width: 90%;
    }

    .third-section-conteiner {
        margin: auto;
        padding-top: 10px;
    }

    .third-section-subtitle img.line {
        height: 1px;
    }

    .view-posts h5 {
        font-size: 9px;
    }

    .arrow {
        width: 9%;
        margin-left: 5px;
        margin-bottom: 0;
    }

    .third-section-left-bottom-content {
        margin-bottom: 30px;
    }

    .third-section-left-bottom-content h3 {
        font-size: 20px;
    }

    .third-section-left-bottom-content p {
        font-size: 12px;
        line-height: 22px;
    }

    .third-section-left-bottom-content span {
        font-size: 10px;
        margin-top: 10px;
    }

    .row-text {
        width: 90%;
    }

    .row-text h3 {
        font-size: 20px;
    }

    .row-text p {
        font-size: 12px;
    }

    .row-text span {
        font-size: 10px;
        margin-top: 5px;
    }

    /* footer */

    .footer-name h4 {
        font-size: 16px;
    }

    .footer-name p {
        font-size: 9px;
    }

    .footer-text p {
        font-size: 11px;
    }

    .footer-title h4 {
        font-size: 14px;
    }

    .text-link {
        margin-bottom: 7px;
    }

    .text-link a {
        font-size: 9px;
    }

    .social-media {
        margin: 20px 5px 0 5px;
    }

    .social-media img {
        width: 55%;
    }

    .end-text-footer h5 {
        font-size: 9px;
    }
}