@media only screen and (max-width: 1200px) {
    /* content */
    .events-content {
        width: 100%;
        max-width: 900px;
    }

    .first-row img {
        width: 448px;
        height: 300px;
    }

    .description-events h2 {
        font-size: 22px;
        width: 74%;
        margin-top: 15px;
    }

    .third-row img {
        width: 448px;
        height: 300px;
    }

    .description-events p {
        font-size: 15px;
        margin-top: 15px;
        width: 90%;
    }

    .description-events h5 {
        font-size: 12px;
    }

    .second-row img {
        width: 276px;
        height: 180px;
    }

    .border-description {
        width: 276px;
        height: 235px;
    }

    .picture-description p {
        font-size: 14px;
        width: 93%;
    }

    .picture-description h5 {
        font-size: 11px;
        bottom: -2px;
    }

    .description-events {
        width: 270px;
        height: 270px;
    }

    .green-rectangle {
        width: 270px;
        height: 270px;
    }
}