@media only screen and (max-width:414px) {
    /* content */

    .events-content {
        max-width: 260px;
    }

    .first-row img {
        width: 260px;
        height: 174px;
        border-radius: 25px;
    }

    .description-events {
        width: 260px;
        height: 210px;
        left: 0;
        border-radius: 25px;
    }

    .description-events h2 {
        font-size: 21px;
        margin-top: 15px;
        width: 80%;
    }

    .description-events p {
        font-size: 13px;
        margin-top: 10px;
        line-height: 20px;
    }

    .description-events h5 {
        font-size: 12px;
        bottom: -6px;
    }

    .second-row img {
        width: 260px;
        height: 174px;
        border-radius: 25px;
    }

    .border-description {
        width: 260px;
        height: 210px;
        border-radius: 25px;
    }

    .picture-description h3 {
        font-size: 20px;
        width: 73%;
    }

    .picture-description p {
        font-size: 13px;
        line-height: 20px;
    }

    .picture-description h5 {
        font-size: 12px;
    }

    .third-row img {
        width: 260px;
        height: 174px;
        border-radius: 25px;
    }

    .description-events.second {
        left: 0px;
        top: 0;
    }

    .second-row {
        margin-bottom: 0;
    }
}