@media only screen and (max-width: 1200px) {

    /* header */
    header {
        width: 97%;
    }

    .name-logo {
        width: 27%;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .logo img {
        width: 105px;
        height: 86px;
        margin-left: -57px;
        margin-top: 10px;
    }

    .name h1 {
        font-size: 20px;
        letter-spacing: 1.5px;
    }

    .name p {
        font-size: 11px;
    }

    .menu {
        width: 80%;
    }

    .menu a {
        letter-spacing: 1.5px;
        font-size: 11px;
    }

    .btn {
        width: 141px;
        height: 47px;
    }

    .btn h4 {
        font-size: 10.5px;
    }

    /* content */
    .events-content {
        width: 100%;
        max-width: 900px;
    }

    .first-row img {
        width: 448px;
        height: 300px;
    }

    .description-events h2 {
        font-size: 22px;
        width: 74%;
        margin-top: 15px;
    }

    .third-row img {
        width: 448px;
        height: 300px;
    }

    .description-events p {
        font-size: 15px;
        margin-top: 15px;
        width: 90%;
    }

    .description-events h5 {
        font-size: 12px;
    }

    .second-row img {
        width: 276px;
        height: 180px;
    }

    .border-description {
        width: 276px;
        height: 235px;
    }

    .picture-description p {
        font-size: 14px;
        width: 93%;
    }

    .picture-description h5 {
        font-size: 11px;
        bottom: -2px;
    }

    .description-events {
        width: 270px;
        height: 270px;
    }

    .green-rectangle {
        width: 270px;
        height: 270px;
    }

    /* footer */

    .top-content-footer {
        width: 85%;
    }

    .footer-name h4 {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .footer-name h5 {
        font-size: 12px;
    }

    .footer-name {
        margin-left: 5px;
    }

    .circle-logo img {
        width: 40px;
    }

    .footer-text p {
        font-size: 12px;
        width: 80%;
    }

    .footer-title h4 {
        font-size: 18px;
    }

    .text-link a {
        font-size: 12px;
    }

    .social-media img {
        width: 17px;
    }
}