@media only screen and (max-width: 992px) {
    /* content */

    .events-content {
        width: 100%;
        max-width: 715px;
    }

    .first-row img {
        width: 358px;
        height: 240px;
        border-radius: 25px;
    }

    .green-rectangle {
        width: 285px;
        height: 225px;
    }

    .description-events {
        width: 285px;
        height: 225px;
        left: 34px;
        margin-top: -3px;
    }

    .description-events.second {
        left:87px;
        top: 0;
    }

    .description-events h2 {
        font-size: 20px;
        margin-top: 15px;
    }

    .description-events p {
        font-size: 15px;
        margin-top: 10px;
        line-height: 21px;
    }

    .description-events h5 {
        bottom: -12px;
    }

    .third-row img {
        width: 358px;
        height: 240px;
        border-radius: 25px;
    }

    .second-row img {
        width: 284px;
        height: 190px;
        border-radius: 25px;
    }

    .border-description {
        width: 375px;
        height: 190px;
        border-radius: 25px;
    }

    .second-row {
        display: grid;
        justify-content: unset;
    }

    .picture-description {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .picture-description p {
        line-height: 25px;
    }

    @-webkit-keyframes mymove {
        0% {
            margin-top: -3px;
            right: -36px;
        }

        100% {
            margin-top: 17px;
            margin-right: 45px;
        }
    }
}