@media only screen and (max-width: 414px) {

    /* first section */

    .name {
        padding-left: 5px;
    }

    .name-logo {
        width: 94%;
    }

    .menu-icon {
        width: 6%;
    }

    .logo {
        width: 35px;
        height: 35px;
    }

    .logo img {
        width: 100px;
        height: 60px;
        margin-left: -53px;
        margin-top: 7px;
    }

    .menu-icon .hamburger-lines {
        width: 17px;
        height: 17px;
    }

    .menu-icon input {
        width: 17px;
        height: 17px;
    }

    .hamburger-lines .line {
        height: 2px;
    }

    .sticky-menu-icon input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
        width: 21px;
    }

    .sticky-menu-icon input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
        width: 21px;
    }

    #hamburger-menu {
        margin-top: 45px;
    }

    .menu {
        width: 55%;
        line-height: 55px;
    }

    .menu a {
        font-size: 10px;
    }

    .name h1 {
        font-size: 14px;
    }

    .name p {
        font-size: 8px;
    }

    .menu-ikon img {
        width: 15px;
    }

    .page-title h1 {
        font-size: 21px;
    }

    .page-title h2 {
        font-size: 15px;
    }

    .btn {
        width: 110px;
        height: 38px;
    }

    .btn span {
        font-size: 10px;
    }

    .first-section-content {
        display: block;
        width: 100%;
    }

    .first-button {
        width: 100px;
        height: 35px;
    }

    .first-button h5 {
        font-size: 10px;
        font-weight: 500;
    }

    .second-button {
        width: 100px;
        height: 35px;
        border-width: 1px;
    }

    .button {
        margin: 0 10px 0 10px;
    }

    .second-button h5 {
        font-size: 10px;
        font-weight: 700;
    }

    .button.second-button {
        border-width: 1px;
    }

    .right-content {
        margin: 40px 0;
    }

    .border {
        width: 210px;
    }

    .img-in-border {
        width: 200px;
        margin-top: 5px;
        margin-left: 5px;
    }

    /* second section */


    .second-container {
        grid-template-rows: 25% 25% 50%;
    }

    .background-color-second-section {
        padding: 30px 0 0px 0;
    }

    .top-right-content {
        position: relative;
    }

    .top-right-content .first-slide {
        width: 90%;
    }

    .second-slide {
        width: 98%;
    }

    .second-section-title h3 {
        font-size: 25px;
    }

    .second-section-text p {
        font-size: 15px;
        line-height: 22px;
        height: 110px;
    }

    .second-container {
        margin-bottom: 20px;
    }

    .third-button button {
        width: 120px;
        height: 41px;
        border: solid white 1px;
    }

    .button-hover span {
        color: white;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .dot {
        width: 10px;
        height: 10px;
    }

    #arrow-right {
        width: 20px;
        height: 20px;
    }

    .arrow-lines.right {
        width: 7px;
        height: 7px;
        margin-top: 6px;
        margin-left: 5px;
    }

    #arrow-left {
        width: 20px;
        height: 20px;
    }

    .arrow-lines.left {
        margin-left: 8px;
        width: 7px;
        height: 7px;
        margin-top: 6px;
    }


    /* third section */

    #third-section {
        margin: 25px 0;
    }

    .third-section-title h3 {
        font-size: 20px;
    }

    .third-section-content {
        width: 90%;
    }

    .third-section-conteiner {
        margin: auto;
        padding-top: 10px;
    }

    .third-section-subtitle img.line {
        height: 1px;
        width: 13%;
        margin-right: 5px;
    }

    .view-posts h5 {
        font-size: 9px;
    }

    .arrow {
        width: 9%;
        margin-left: 5px;
        margin-bottom: 0;
    }

    .third-section-left-bottom-content {
        margin-bottom: 30px;
    }

    .third-section-left-bottom-content h3 {
        font-size: 20px;
    }

    .third-section-left-bottom-content p {
        font-size: 14px;
        line-height: 22px;
    }

    .third-section-left-bottom-content h5 {
        font-size: 10px;
        margin-top: 10px;
    }

    .row-text {
        width: 90%;
    }

    .row-text h3 {
        font-size: 20px;
    }

    .row-text p {
        font-size: 14px;
    }

    .row-text h5 {
        font-size: 10px;
        margin-top: 5px;
    }

    /* footer */

    .footer-name h4 {
        font-size: 18px;
    }

    .footer-name h5 {
        font-size: 10px;
    }

    .footer-text p {
        font-size: 12px;
    }

    .footer-title h4 {
        font-size: 15px;
    }


    .text-link {
        margin-bottom: 7px;
    }

    .text-link a {
        font-size: 12px;
    }

    .social-media {
        margin: 20px 10px 0 10px;
    }

    .social-media img {
        width: 80%;
    }

    .end-text-footer h5 {
        font-size: 10px;
    }
}