@media only screen and (max-width: 620px) {
    /* content */

    .price-list-item h2 {
        font-size: 17px;
    }

    .price-list-item p {
        font-size: 10px;
    }

    .green-rectangle {
        width: 330px;
        height: 495px;
    }

    .price h2 {
        font-size: 25px;
    }

    .price-list {
        width: 80%;
    }
}