@media only screen and (max-width: 1400px) {
    /* content */

    .exhibition-content {
        width: 85%;
    }

    .exhibition-description {
        width: 63%;
    }

    .exhibition-description h3 {
        width: 60%;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .exhibition-description h4 {
        width: 50%;
        font-size: 15px;
        margin-top: 0;
    }

    .exhibition-image {
        width: 37%;
    }

    .exhibition-image img {
        width: 420px;
        height: 630px;
    }

    .green-rectangle {
        width: 420px;
        height: 630px;
    }
}