@media only screen and (max-width: 992px) {
    /* content */

    #exhibition {
        position: relative;
    }

    .exhibition-content {
        display: block;
    }

    .exhibition-description {
        margin: auto;
        text-align: center;
        width: 80%;
    }

    .exhibition-description h3 {
        margin-bottom: 50px;
        margin: auto;
    }

    .exhibition-description h4 {
        margin: auto;
        margin-top: 35px;
    }

    .exhibition-description img {
        position: absolute;
        width: 75%;
        top: 39%;
        right: unset;
    }

    .exhibition-image img {
        top: unset;
        right: unset;
    }

    @-webkit-keyframes mymove {
        0% {
            top: 0;
            right: 0;
        }

        100% {
            top: 25px;
            right: 25px;
        }
    }

    .exhibition-branch img {
        bottom: 450px;
        right: 0;
        width: 44%;
    }

    .exhibition-image {
        width: 100%;
        justify-content: center;
        margin-top: 50px;
    }
}