@media only screen and (max-width: 414px) {
    /* content */

    .exhibition-description {
        width: 80%;
    }

    .exhibition-description h4 {
        font-size: 10px;
    }

    .exhibition-description h3 {
        font-size: 13px;
        margin-bottom: 20px;
        width: 80%;
    }

    .exhibition-description img {
        width: 62%;
        top: 79%;
    }

    .exhibition-image img {
        width: 180px;
        height: 263px;
        border-radius: 20px;
    }

    .green-rectangle {
        width: 180px;
        height: 263px;
        border-radius: 20px;
    }

    .exhibition-description {
        width: 95%;
    }

    .exhibition-description h4 {
        margin-bottom: 30px;
    }

    .exhibition-branch img {
        bottom: 625px;
        width: 55%;
    }


    .exhibition-content {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @-webkit-keyframes mymove {
        0% {
            top: 0px;
            right: 0px;
        }

        100% {
            top: 15px;
            right: 15px;
        }
    }
}