@media only screen and (max-width: 1200px) {
    /* content */

    .exhibition-description {
        width: 63%;
        margin-top: 70px;
    }

    .exhibition-description h3 {
        margin-bottom: 35px;
        width: 75%;
        font-size: 18px;
    }

    .exhibition-description h4 {
        font-size: 13px;
        width: 65%;
    }

    .exhibition-image {
        width: 37%;
    }

    .green-rectangle {
        width: 360px;
        height: 540px;
    }

    .exhibition-image img {
        width: 360px;
        height: 540px;
    }

    .exhibition-branch img {
        bottom: 447px;
        right: 508px;
        width: 29%;
    }
}