@media only screen and (max-width: 768px) {
    /* header */

    .name-logo {
        width: 95%;
    }

    .menu-icon {
        width: 5%;
    }

    .menu a {
        font-size: 13px;
    }

    /* content */

    .exhibition-content {
        margin-top: 50px;
    }

    .exhibition-description {
        width: 85%;
    }

    .exhibition-branch img {
        bottom: 420px;
        width: 53%;
    }

    .exhibition-description h3 {
        font-size: 16px;
        width: 70%;
    }

    .exhibition-description h4 {
        margin-bottom: 10px;
        font-size: 12px;
        width: 65%;
    }

    .exhibition-description img {
        width: 69%;
    }

    @-webkit-keyframes mymove {
        0% {
            top: 0px;
            right: 0px;
        }

        100% {
            top: 25px;
            right: 25px;
        }
    }

    .exhibition-image img {
        width: 300px;
        height: 438px;
    }

    .exhibition-image {
        margin-top: 30px;
    }

    .green-rectangle {
        width: 300px;
        height: 438px;
    }

    /* footer */

    footer {
        height: initial;
    }

    .top-content-footer {
        display: block;
    }

    .footer-name-logo {
        justify-content: center;
    }

    .footer-text p {
        font-size: 11px;
        width: 60%;
        margin: auto;
        margin-bottom: 30px;
    }

    .first-column {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .second-column {
        width: 100%;
        text-align: center;
    }

    .third-column {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }

    .social-media {
        margin: 20px 20px 0 20px;
    }

    .icons {
        margin-bottom: 10px;
    }

}