@media only screen and (max-width: 768px) {
    /* content */

    .exhibition-content {
        margin-top: 50px;
    }

    .exhibition-description {
        width: 85%;
    }

    .exhibition-branch img {
        bottom: 420px;
        width: 53%;
    }

    .exhibition-description h3 {
        font-size: 16px;
        width: 70%;
    }

    .exhibition-description h4 {
        margin-bottom: 10px;
        font-size: 12px;
        width: 65%;
    }

    .exhibition-description img {
        width: 69%;
    }

    @-webkit-keyframes mymove {
        0% {
            top: 0px;
            right: 0px;
        }

        100% {
            top: 25px;
            right: 25px;
        }
    }

    .exhibition-image img {
        width: 300px;
        height: 438px;
    }

    .exhibition-image {
        margin-top: 30px;
    }

    .green-rectangle {
        width: 300px;
        height: 438px;
    }
}