body {
    margin: 0;
}

header {
    display: flex;
    max-width: 1220px;
    margin: auto;
    justify-content: space-between;
}

/* header */

.btn-menu h4 {
    text-transform: uppercase;
    font-size: 13px;
}

.btn-slide-menu {
    display: none;
}

header {
    display: flex;
    max-width: 1220px;
    margin: auto;
    justify-content: space-between;
}

.name-logo a {
    text-decoration: none;
}

header {
    display: flex;
    max-width: 1220px;
    margin: auto;
}

.name-logo {
    margin-top: 15px;
    width: 25%;
    display: flex;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: #343D33;
    border-radius: 60px;
}

.logo img {
    width: 130px;
    height: 95px;
    transform: scaleX(-1);
    margin-left: -70px;
    margin-top: 12px;
}

.name {
    margin-top: 5px;
    margin-left: 10px;
}

.name h1 {
    font-family: roboto;
    font-weight: 500;
    font-size: 25px;
    color: #343D33;
    margin: 0;
    letter-spacing: 1.5px;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.name p {
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin: 0;
    font-style: italic;
}

.menu-icon {
    display: none;
}

.menu-icon input {
    position: absolute;
    height: 22px;
    width: 28px;
    margin: 0;
    opacity: 0;
}

#menu {
    display: block;
}

.menu {
    display: flex;
    height: 45px;
    width: 75%;
    margin-top: 15px;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
}

#hamburger-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav {
    display: flex;
}

#hamburger-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-open ul {
    padding: 0;
    margin-top: 20px;
    display: flex;
}

.menu li {
    margin-right: 40px;
}

.menu-open li {
    list-style: none;
}

.menu a {
    font-family: roboto;
    font-weight: 700;
    color: #414840;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
    margin-right: 0;
}

.btn {
    position: relative;
    width: 165px;
    height: 55px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #475F45;
    outline: none;
    transition: 1s ease-in-out;
    text-decoration: none;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #475F45;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn-menu h4 {
    margin: 0;
    margin-top: 19px;
    -webkit-text-fill-color: unset;
}

.menu-slide-a {
    display: none;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: transparent;
}

.btn-first-section:hover {
    transition: 1s ease-in-out;
    background: #475F45;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn-first-section svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #FFF;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

/* content */


.shop-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 350px 1fr 1fr 1fr 1fr;
    max-width: 1220px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 110px;
}

.green-rectangle {
    width: 450px;
    height: 675px;
    border-radius: 40px;
    background-color: #324E2F;
}

.decorative-photo img {
    width: 450px;
    height: 675px;
    border-radius: 40px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    top: 0;
    animation: mymove 1.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes mymove {
    0% {
        margin-top: 0;
        margin-left: 0;
    }

    100% {
        margin-top: 30px;
        margin-left: 30px;
    }
}

.center-flowerpot {
    display: flex;
    justify-content: center;
}

.decorative-photo-second {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.decorative-photo-second img {
    border-radius: 40px;
    margin-top: 30px;
}

.image-and-rectangle {
    display: flex;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.flower-products {
    display: contents;
}

.card {
    perspective: 500px;
    width: 100%;
    height: 85%;
}

.content {
    position: absolute;
    width: 100%;
    height: 107%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    backface-visibility: hidden;
}

.back {
    background-color: #324E2F;
    font-size: 25px;
    transform: rotateY(180deg);
    background: linear-gradient(-45deg, #00B3FF, #45A34A, #003100, #3D6E5C);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.back h2 {
    width: 90%;
    font-size: 19px;
    color: white;
    font-family: Libre Baskerville;
    font-weight: 300;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

.back h4 {
    font-size: 15px;
    text-align: center;
    margin: 0;
    color: white;
    font-weight: 200;
    margin-bottom: 25px;
}

.back p {
    font-size: 16px;
    text-align: center;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 21px;
    width: 90%;
    margin: auto;
}

.shop-line {
    width: 80%;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 0.5px;
    background-color: white;

}

.flower img {
    width: 200px;
    height: 200px;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
}

.flower h3 {
    font-size: 23px;
    text-align: center;
    font-family: Libre Baskerville;
    font-weight: 400;
    color: #324E2F;
}

.flower h5 {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: Roboto;
    color: #414840;
    font-weight: 400;
    margin-bottom: 10px;
}

.flower.first {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}

.flower.second {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}

.flower.third {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}

.flower.fourth {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
}

.flowerpot img {
    width: 165px;
    height: 165px;
}

.flowerpot-products {
    display: contents;
}

.flowerpot.first {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 4;
}

.flowerpot.second {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 4;
}

.flowerpot.third {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 4;
}

.flowerpot.fourth {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 20px;
}

.flowerpot.fifth {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 20px;
}

.flowerpot.sixth {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 20px;
}

.flowerpot h3 {
    text-align: center;
    font-family: Libre Baskerville;
    font-size: 23px;
    font-weight: 400;
    color: #324E2F;
    margin-bottom: 10px;
}

.flowerpot h5 {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: Roboto;
    color: #414840;
    font-weight: 400;
    margin-bottom: 20px;
}

.flower.fifth {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: 20px;
}

.flower.sixth {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: 20px;
}

.flower.seventh {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}

.flower.eighth {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 8;
}

.green-rectangle.second {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 8;
}

.second-image-and-rectangle {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 8;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
}

.second-decorative-photo img {
    width: 450px;
    height: 675px;
    border-radius: 40px;
    position: absolute;
    animation: move 1.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes move {
    0% {
        top: 0px;
        right: 0px;
    }

    100% {
        top: 30px;
        right: 30px;
    }
}