@media only screen and (max-width: 1800px) {

    .contact-content {
        width: 85%;
    }

    .first-branch img {
        top: 115px;
        width: 25%;
    }

    .second-branch img {
        bottom: -40px;
    }
}