@media only screen and (max-width: 1400px) {
    /* content */

    .contact-content h1 {
        font-size: 43px;
        width: 365px;
    }

    .contact-content h3 {
        font-size: 20px;
    }

    .address-title img {
        width: 23px;
    }

    .address-information h4 {
        font-size: 16px;
    }

    .phone-title img {
        width: 23px;
    }

    .phone-information h4 {
        font-size: 16px;
    }

    .mail-title img {
        width: 23px;
    }

    .mail-information h4 {
        font-size: 16px;
    }

    .in-touch-title h2 {
        font-size: 43px;
    }

    .in-touch-title p {
        font-size: 14px;
    }

    ::placeholder {
        font-size: 16px;
    }

    .button-send a {
        font-size: 15px;
        top: 17px;
        left: 41px;
    }
}