@media only screen and (max-width:1200px) {
    /* content */

    .contact-conent {
        width: 85%;
    }

    .contact-content h1 {
        font-size: 32px;
        width: 260px;
    }

    iframe {
        height: 400px;
    }

    .get-in-touch {
        margin-top: 500px;
    }

    .in-touch-title h2 {
        font-size: 32px;
    }

    .in-touch-title p {
        font-size: 12px;
    }

    .button-send {
        width: 130px;
        height: 45px;
        left: 66%;
    }

    .button-send a {
        font-size: 14px;
        top: 14px;
        left: 37px;
    }
}