@media only screen and (max-width: 992px) {
    /* content */

    .contact-content h1 {
        font-size: 35px;
        width: 270px;
    }

    .contact-content h3 {
        font-size: 16px;
        margin-left: 5px;
    }

    .address-title img {
        width: 18px;
    }

    .address-information h4 {
        font-size: 12px;
    }

    .phone-title img {
        width: 18px;
    }

    .phone-information a {
        font-size: 12px;
    }

    .mail-title img {
        width: 18px;
    }

    .mail-information a {
        font-size: 12px;
    }

    iframe {
        height: 350px;
    }

    .get-in-touch {
        margin-top: 450px;
    }

    .in-touch-title h2 {
        font-size: 34px;
    }

    form {
        width: 70%;
    }
}