@media only screen and (max-width: 768px) {

    /* header */
    .name-logo {
        width: 95%;
    }

    .menu-icon {
        width: 5%;
    }

    .menu a {
        font-size: 13px;
    }

    .btn {
        width: 133px;
        height: 45px;
    }

    .btn h4 {
        font-size: 10px;
        margin-top: 15px;
        letter-spacing: 1px;
        font-weight: 500;
    }

    /* content */

    .contact-content h1 {
        font-size: 28px;
        width: 235px;
        margin: auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .information {
        display: block;
    }

    .address-title,
    .phone-title,
    .mail-title {
        display: flex;
        justify-content: center;
    }

    .address {
        width: 40%;
        justify-content: center;
        margin: auto;
    }

    .address-information h4 {
        font-size: 12px;
        text-align: center;
    }

    .phone {
        width: 40%;
        justify-content: center;
        margin: auto;
    }

    .phone-information a {
        font-size: 12px;
        text-align: center;
    }

    .mail {
        width: 40%;
        justify-content: center;
        margin: auto;
    }

    .mail-information a {
        font-size: 12px;
        text-align: center;
    }

    iframe {
        height: 250px;
    }

    .get-in-touch {
        margin-top: 330px;
    }

    .in-touch-title h2 {
        font-size: 28px;
    }

    .in-touch-title p {
        font-size: 10px;
        width: 300px;
    }

    form {
        width: 85%;
    }

    .form-content input {
        height: 25px;
        background: transparent;
    }

    input[type=text] {
        font-size: 17px;
    }

    ::placeholder {
        font-size: 15px;
    }

    .button-send {
        width: 87px;
        height: 33px;
        left: 66%;
        border: solid 1.5px #324E2F;
    }

    .button-send a {
        font-size: 11px;
        top: 7px;
        left: 22px;
    }

    .first-branch img {
        top: 225px;
        width: 45%;
    }

    .second-branch img {
        bottom: -30px;
        width: 41%;
        opacity: 0.4;
    }

    #result {
       font-size: 11px;
    }

    .button {
        display: flex;
        justify-content: center;
        position: relative;
        top: 90px;
    }

    .h-captcha {
        display: flex;
        justify-content: center;
        position: relative; 
        bottom: 45px;
    }

    /* footer */

    footer {
        height: initial;
    }

    .top-content-footer {
        display: block;
    }

    .footer-name-logo {
        justify-content: center;
    }

    .footer-text p {
        font-size: 11px;
        width: 60%;
        margin: auto;
        margin-bottom: 30px;
    }

    .first-column {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .second-column {
        width: 100%;
        text-align: center;
    }

    .third-column {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }

    .social-media {
        margin: 20px 20px 0 20px;
    }

    .icons {
        margin-bottom: 10px;
    }

}