#third-section {
    height: 892px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.third-section-conteiner {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    width: 1220px;
}

.third-section-content {
    align-items: center;
    margin: auto;
    width: 100%;
    display: grid;
    justify-content: center;
}

.third-section-title h3 {
    font-family: Libre Baskerville;
    font-size: 45px;
    font-weight: 400;
    color: #343D33;
    margin: 0;
}

.third-section-subtitle {
    display: flex;
}

.third-section-subtitle img.line {
    height: 2px;
    margin-right: 20px;
    margin-top: 32px;
}

.long-line-third-section {
    display: none;
}

button.view-posts {
    border: none;
    background: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 16px;
    position: relative;
}

.view-posts a {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 15%;
    color: #475F45;
    margin-top: 10px;
    text-decoration: none;
}

.arrow {
    margin-top: 7px;
    margin-left: 12px;
}

.third-section-left-bottom-content h3 {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 23px;
    color: #475F45;
    margin: 0;
    margin-top: 25px;
}

.third-section-left-bottom-content p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #414840;
    width: 471px;
    line-height: 24px;
    margin: 0;
    margin-top: 15px;
    line-height: 24px;
    margin-bottom: 10px;
}

.third-section-left-bottom-content span {
    font-family: Roboto;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    color: #343D33;
}

.row {
    display: flex;
}

.row-text {
    margin-left: 20px;
}

.row-text h3 {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 23px;
    color: #475F45;
    margin: 0;
}

.row-text p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #414840;
    line-height: 24px;
    width: 354px;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 10px;
}

.row-text span {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: #343D33;
    margin: 0;
    margin-top: 12px;
}

.long-line img {
    margin-top: 15px;
    margin-bottom: 20px;
}