@media only screen and (max-width: 768px) {

    /* header */
    .name {
        margin-top: 0;
    }

    .menu a {
        font-size: 13px;
    }

    .btn {
        width: 150px;
        height: 49px;
    }

    .btn-menu h4 {
        font-size: 11px;
    }

    /* content */

    body {
        margin: 0;
    }

    .price h2 {
        font-size: 21px;
    }

    .price h2 {
        font-size: 21px;
        margin-left: 20px;
    }

    .price-list {
        width: 80%;
    }

    .price-list-branch img {
        width: 53%;
        bottom: 67%;
    }

    .price-list-image img {
        width: 300px;
        height: 450px;
    }

    .green-rectangle {
        width: 300px;
        height: 450px;
    }

    @keyframes mymove {
        0% {
            margin-top: 0;
            margin-left: 0
        }

        100% {
            margin-top: 20px;
            margin-left: 38px;
        }
    }

    .price-list-content {
        margin: 0;
        margin-top: 25px;
        width: 100%;
        display: grid;
    }

    /* footer */

    footer {
        height: initial;
    }

    .top-content-footer {
        display: block;
    }

    .footer-name-logo {
        justify-content: center;
    }

    .footer-text p {
        font-size: 11px;
        width: 60%;
        margin: auto;
        margin-bottom: 30px;
    }

    .first-column {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .second-column {
        width: 100%;
        text-align: center;
    }

    .third-column {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }

    .social-media {
        margin: 20px 20px 0 20px;
    }

    .icons {
        margin-bottom: 10px;
    }

}