@media only screen and (max-width: 550px) {

    /* header */
    /* content */
    .price-list {
        width: 97%;
    }

    .price-list-image img {
        width: 240px;
        height: 360px;
        border-radius: 20px;
    }

    .green-rectangle {
        width: 240px;
        height: 360px;
        border-radius: 20px;
    }

    .price-list-row {
        margin: 20px 0;
    }

    .price-list-item h2 {
        font-size: 13px;
    }

    .price h2 {
        font-size: 22px;
    }

    .price-list-branch img {
        width: 65%;
        bottom: 45%;
    }

    .price-list-item {
        width: 70%;
    }

    /* footer */
}