@media only screen and (max-width: 300px) {
    /* header */

    .menu-icon {
        width: 8%;
    }

    .name-logo {
        width: 92%;
    }

    .name-log {
        margin-top: 10px;
    }

    .name {
        padding: 0;
        margin-left: 5px;
    }

    .menu-icon .hamburger-lines {
        width: 12px;
        height: 12px;
    }

    .menu-icon input {
        width: 12px;
        height: 12px;
        right: 10px;
    }

    .hamburger-lines .line {
        height: 1px;
    }

    .sticky-menu-icon input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
        width: 16px;
    }

    .sticky-menu-icon input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
        width: 16px;
    }

    #hamburger-menu {
        margin-top: 40px;
    }

    .menu {
        width: 60%;
        line-height: 40px;
    }

    .menu a {
        font-size: 8px;
    }

    .second-button h5 {
        font-size: 8px;
    }

    .button {
        margin: 0 5px 0 5px;
    }

    .btn span {
        font-size: 8px;
    }

    /* content */

    .price-list-item {
        width: 100%;
    }

    .price-list-item p {
        width: 100%;
    }

    .price-list-image img {
        width: 150px;
        height: 225px;
        margin-top: 15px;
        margin-left: 30px;
    }

    .green-rectangle {
        width: 150px;
        height: 225px;
    }

    .price h2 {
        font-size: 15px;
    }

    .price-list-item h2 {
        font-size: 15px;
    }

    .price-list-item {
        width: 100%;
    }

    .price-list-branch img {
        width: 65%;
        bottom: 50%;
    }

    .price-list-row {
        display: block;
        text-align: center;
    }

    .price-list-row {
        margin: 30px 0;
    }

    /* footer */
    .footer-name h4 {
        font-size: 15px;
    }

    .footer-name h5 {
        font-size: 8px;
    }

    .circle-logo img {
        width: 38px;
    }

    .footer-text p {
        width: 75%;
    }
}