@media only screen and (max-width: 414px) {
    /* content */

    .price-list-content {
        margin-top: 30px;
        grid-template-rows: 340px 310px;
    }

    .price h2 {
        font-size: 14px;
        margin-left: 0;
    }

    .price-list-item h2 {
        font-size: 14px;
    }

    .price-list-item p {
        font-size: 10px;
        margin-top: 6px;
    }

    .price-list-image img {
        width: 180px;
        height: 270px;
        border-radius: 20px;
    }

    @-webkit-keyframes mymove {
        0% {
            margin-top: 0;
            margin-left: 0;
        }

        100% {
            margin-top: 15px;
            margin-left: 30px;
        }
    }

    .green-rectangle {
        width: 180px;
        height: 270px;
        border-radius: 20px;
    }
}