@media only screen and (max-width: 1400px) {
    /* content */

    .price-list-content {
        width: 80%;
    }

    .price-list {
        width: 55%;
        margin: auto;
    }

    .price-list-image {
        width: 45%;
    }

    .price-list-item h2 {
        font-size: 25px;
    }

    .price-list h2 {
        font-size: 25px;
    }

    .price-list-image img {
        width: 360px;
        height: 540px;
    }

    .green-rectangle {
        width: 360px;
        height: 540px;
    }

    .price-list-item p {
        font-size: 14px;
        margin-top: 10px;
    }

    .price-list-branch img {
        width: 40%;
    }
}