@media only screen and (max-width: 1200px) {

    /* content */

    .price-list-content {
        width: 85%;
        margin: 60px;
    }

    .price-list-image {
        width: 45%;
    }

    .price-list {
        width: 55%;
    }

    .price-list-item p {
        font-size: 12px;
    }

    .price-list-item h2 {
        font-size: 22px;
    }

    .green-rectangle {
        width: 330px;
        height: 495px;
    }

    .price-list-image img {
        width: 330px;
        height: 495px;
    }

    .price-list-branch img {
        width: 35%;
    }

    .price h2 {
        font-size: 22px;
    }
}