@media only screen and (max-width: 1400px) {
    /* header */

    header {
        width: 95%;
    }

    .name-logo {
        width: 28%;
    }

    .menu {
        width: 72%;
    }

    .menu a {
        margin-right: 20px;
    }

    /* content */

    .events-content {
        width: 100%;
        max-width: 1090px;
    }

    .first-row img {
        width: 636px;
        height: 426px;
    }

    .description-events {
        width: 402px;
        height: 402px;
    }

    .green-rectangle {
        width: 402px;
        height: 402px;
    }

    .third-row img {
        width: 636px;
        height: 426px;
    }

    .description-events h2 {
        font-size: 37px;
    }

    .description-events p {
        font-size: 24px;
        margin-top: 22px;
    }

    .border-description {
        width: 345px;
    }

    .second-row img {
        width: 345px;
        height: 230px;
    }

    .picture-description p {
        font-size: 20px;
        width: 87%;
    }

    /* footer */

    .top-content-footer {
        width: 90%;
    }
}