@media only screen and (max-width: 715px) {
    .events-content {
        width: 100%;
        max-width: 520px;
    }

    .description-events {
        width: 430px;
        height: 430px;
    }

    .first-row img {
        width: 450px;
        height: 302px;
    }

    .green-rectangle {
        width: 445px;
        height: 445px;
        border-radius: 40px;
        background-color: #324E2F;
        position: absolute;
        right: 45px;
        top: 330px;
        z-index: -1;
    }

    .second-row img {
        width: 450px;
        height: 302px;
        border-radius: 30px;
    }

    .border-description {
        width: 450px;
        height: 310px;
    }

    .third-row img {
        width: 450px;
        height: 302px;
        border-radius: 30px;
        margin-top: 60px;
    }

    .green-rectangle.second {
        top: 20px;
        left: 31px;
    }

    .description-events.second {
        left: 15px;
    }
}