@media only screen and (max-width: 230px) {
    .events-content {
        max-width: 200px;
    }

    .first-row img {
        width: 190px;
        height: 127px;
    }

    .second-row img {
        width: 190px;
        height: 127px;
    }

    .border-description {
        width: 190px;
    }

    .description-events h2 {
        font-size: 17px;
    }

    .description-events p {
        font-size: 12px;
    }

    .description-events {
        width: 180px;
        height: 190px;
        margin-top: 37px;
        left: 7px;
    }

    .green-rectangle {
        right: 16px;
        top: 151px;
        width: 180px;
        height: 190px;
    }

    .description-events.second {
        left: 7px;
        top: 30px;
    }

    .third-row img {
        width: 190px;
        height: 127px;
    }
}