@media only screen and (max-width: 260px) {


    .name {
        margin-top: 1px;
        margin-left: 6px;
        padding: 0;
    }


    .events-content {
        max-width: 200px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .first-row img {
        width: 200px;
        height: 134px;
    }

    .description-events {
        width: 190px;
        height: 200px;
        margin-top: 25px;
    }

    .description-events h2 {
        font-size: 18px;
        margin-top: 10px;
    }

    .description-events p {
        font-size: 13px;
        margin-top: 4px;
    }

    .description-events h5 {
        font-size: 14px;
        bottom: -12px;
        left: 15px;
    }

    .green-rectangle {
        width: 190px;
        height: 200px;
        right: 11px;
        top: 147px;
    }

    .second-row {
        margin-top: 30px;
    }

    .picture-description img {
        margin-bottom: 8px;
    }

    .second-row img {
        width: 200px;
        height: 134px;
    }

    .border-description {
        width: 200px;
        height: 200px;
    }

    .picture-description h3 {
        font-size: 16px;
        margin-top: 10px;
    }

    .picture-description p {
        font-size: 13px;
        margin-top: 10px;
    }

    .description-events h5 {
        font-size: 11px;
        bottom: -8px;
    }

    .third-row img {
        width: 200px;
        height: 134px;
        margin-top: 30px;
    }

    .description-events.second {
        left: 9px;
        top: 0;
    }

    .green-rectangle.second {
        top: 18px;
        left: 0px;
    }
}