@media only screen and (max-width: 515px) {
    .events-content {
        max-width: 414px;
    }

    .first-row img {
        width: 400px;
        height: 268px;
    }

    .description-events {
        width: 370px;
        height: 370px;
        left: 15px;
    }

    .description-events p {
        font-size: 23px;
        margin-top: 20px;
    }

    .green-rectangle {
        width: 370px;
        height: 370px;
        right: 35px;
        top: 295px;
    }

    .second-row {
        margin-bottom: 20px;
    }

    .green-rectangle.second {
        top: 30px;
        left: 12px;
    }

    .description-events h2 {
        font-size: 35px;
        margin-top: 25px;
    }

    .second-row img {
        width: 400px;
        height: 268px;
    }

    .border-description {
        width: 400px;
    }

    .picture-description h3 {
        font-size: 33px;
    }

    .third-row img {
        width: 400px;
        height: 268px;
    }
}