@media only screen and (max-width:1200px) {

    /* header */
    header {
        width: 97%;
    }

    .name-logo {
        width: 27%;
    }

    .name h1 {
        font-size: 24px;
    }

    .name p {
        font-size: 13px;
    }

    .menu {
        width: 80%;
    }

    .menu a {
        margin-right: 22px;
        letter-spacing: 1px;
        font-size: 13px;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .btn {
        width: 162px;
        height: 55px;
    }

    .btn-text span {
        font-size: 16px;
    }

    .button-header {
        width: 150px;
        height: 45px;
    }

    .button-header h5 {
        margin: auto;
        font-size: 13px;
    }

    /* content */

    .shop-content {
        margin-bottom: 70px;
        margin-top: 60px;
    }

    .green-rectangle {
        width: 350px;
        height: 525px;
    }

    .decorative-photo img {
        width: 350px;
        height: 525px;
    }

    .second-decorative-photo img {
        width: 350px;
        height: 525px;
    }

    .flower img {
        width: 150px;
        height: 150px;
    }

    .flowerpot img {
        width: 150px;
        height: 150px;
    }

    .flower h3 {
        font-size: 17px;
    }

    .flowerpot h3 {
        font-size: 17px;
    }

    .flower h5 {
        font-size: 13px;
    }

    .flowerpot h5 {
        font-size: 13px;
    }

    .center-flowerpot {
        display: flex;
        justify-content: center;
    }

    .decorative-photo-second {
        align-items: center;
    }

    /* footer */

    .top-content-footer {
        width: 85%;
    }
}