@media only screen and (max-width: 1200px) {

    /* header */
    header {
        width: 97%;
    }

    .name-logo {
        width: 27%;
    }

    .name h1 {
        font-size: 24px;
    }

    .name p {
        font-size: 13px;
    }

    .menu {
        width: 80%;
    }

    .menu a {
        margin-right: 22px;
        letter-spacing: 1px;
        font-size: 13px;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .btn {
        width: 170px;
        height: 58px;
    }

    .btn-text span {
        font-size: 16px;
    }

    .button-header {
        width: 150px;
        height: 45px;
    }

    .button-header h5 {
        margin: auto;
        font-size: 13px;
    }

    /* content */

    .price-list-image {
        width: 45%;
    }

    .price-list {
        width: 55%;
    }

    .price-list-item h2 {
        font-size: 25px;
    }

    .price-list-item p {
        font-size: 14px;
    }

    .price h2 {
        font-size: 28px;
    }

    .green-rectangle {
        width: 330px;
        height: 495px;
    }

    .price-list-image img {
        width: 330px;
    }

    .price-list-branch img {
        width: 35%;
    }

    /* footer */

    .top-content-footer {
        width: 85%;
    }
}