body {
    margin: 0;
}

/* header */

.btn-menu h4 {
    text-transform: uppercase;
}

.btn-slide-menu {
    display: none;
}

header {
    display: flex;
    max-width: 1220px;
    margin: auto;
    justify-content: space-between;
}

.name-logo a {
    text-decoration: none;
}

header {
    display: flex;
    max-width: 1220px;
    margin: auto;
}

.name-logo {
    margin-top: 15px;
    width: 25%;
    display: flex;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: #343D33;
    border-radius: 60px;
}

.logo img {
    width: 130px;
    height: 95px;
    transform: scaleX(-1);
    margin-left: -70px;
    margin-top: 12px;
}

.name {
    margin-top: 5px;
    margin-left: 10px;
}

.name h1 {
    font-family: roboto;
    font-weight: 500;
    font-size: 25px;
    color: #343D33;
    margin: 0;
    letter-spacing: 1.5px;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.name p {
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin: 0;
    font-style: italic;
}

.menu-icon {
    display: none;
}

.menu-icon input {
    position: absolute;
    height: 22px;
    width: 28px;
    margin: 0;
    opacity: 0;
}

#menu {
    display: block;
}

.menu {
    display: flex;
    height: 45px;
    width: 75%;
    margin-top: 15px;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
}

#hamburger-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav {
    display: flex;
}

#hamburger-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-open ul {
    padding: 0;
    margin-top: 20px;
    display: flex;
}

.menu li {
    margin-right: 40px;
}

.menu-open li {
    list-style: none;
}

.menu a {
    font-family: roboto;
    font-weight: 700;
    color: #414840;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
    margin-right: 0;
}

.btn {
    position: relative;
    width: 165px;
    height: 55px;
    cursor: pointer;
    background: transparent;
    border: 1.5px solid #475F45;
    outline: none;
    transition: 1s ease-in-out;
    text-decoration: none;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #475F45;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn-menu h4 {
    margin: 0;
    margin-top: 19px;
    -webkit-text-fill-color: unset;
}

.menu-slide-a {
    display: none;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: transparent;
}

.btn-first-section:hover {
    transition: 1s ease-in-out;
    background: #475F45;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn-first-section svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #FFF;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

/* content */

#contact-content {
    position: relative;
}

header {
    display: flex;
    max-width: 1220px;
    margin: auto;
    justify-content: space-between;
}

.name-logo a {
    text-decoration: none;
}

nav {
    display: flex;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: #343D33;
    border-radius: 60px;
}

.logo img {
    width: 130px;
    height: 95px;
    transform: scaleX(-1);
    margin-left: -70px;
    margin-top: 12px;
}

.name-logo {
    margin-top: 15px;
    width: 25%;
    display: flex;
}

.name {
    margin-top: 5px;
    margin-left: 10px;
}

.name h1 {
    font-family: roboto;
    font-weight: 500;
    font-size: 25px;
    color: #343D33;
    margin: 0;
    letter-spacing: 1.5px;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.name p {
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin: 0;
    font-style: italic;
}

#hamburger-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#hamburger-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}


#menu {
    display: block;
}

.menu {
    display: flex;
    height: 45px;
    width: 75%;
    margin-top: 15px;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;

}

.menu-icon input {
    height: 22px;
    width: 28px;
    margin: 0;
    opacity: 0;
}

.menu-icon {
    display: none;
}

.menu-open {
    display: flex;
}

.menu-open ul {
    padding: 0;
    margin-top: 20px;
    display: flex;
}

.menu-open li {
    list-style: none;
}


.menu a {
    font-family: roboto;
    font-weight: 700;
    color: #414840;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
}

.menu-button {
    margin-top: 5px;
}

.menu h5 {
    font-family: roboto;
    font-weight: 700;
    color: #414840;
    margin: 0;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.btn {
    position: relative;
    width: 165px;
    height: 55px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #475F45;
    outline: none;
    transition: 1s ease-in-out;
}

.btn h4 {
    color: #475F45;
    font-size: 13px;
    font-weight: 700;
    margin-right: 0;
    font-family: roboto;
}

.btn-menu h4 {
    -webkit-text-fill-color: unset;
}

.menu.menu-link a {
    transition: none;
}

.menu a {
    margin-right: 0;
}

.menu li {
    margin-right: 40px;
}

.btn {
    text-decoration: none;
}

.btn-slide-menu {
    display: none;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: transparent;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.contact-content {
    max-width: 1220px;
    margin: auto;
}

.information {
    display: flex;
    margin-bottom: 50px;
}

.address {
    width: 33%;
    display: flex;
    justify-content: flex-start;
}

.phone {
    width: 33%;
    display: flex;
    justify-content: center;
}

.mail {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}

.contact-content h1 {
    font-family: Libre Baskervillec;
    font-size: 48px;
    width: 400px;
    font-weight: 500;
    text-transform: uppercase;
    color: #343D33;
    margin-top: 60px;
}

.first-branch img {
    position: absolute;
    right: 0;
    width: 20%;
    top: 95px;
    z-index: -2;
    opacity: 0.4;
}

.second-branch img {
    position: absolute;
    transform: scaleX(-1);
    bottom: -90px;
    left: 0;
    width: 27%;
    z-index: -2;
    opacity: 0.7;
}

.address-title,
.phone-title,
.mail-title {
    display: flex;
}

.center {
    display: inline-block;
    margin: auto;
}

.contact-content h3 {
    font-family: Libre Baskervillec;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
}

.address-information h4 {
    font-family: Roboto;
    font-size: 18px;
    color: #324E2F;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.phone-information h4 {
    font-family: Roboto;
    font-size: 18px;
    color: #324E2F;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.phone-information a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    color: #324E2F;
}

.mail-information h4 {
    font-family: Roboto;
    font-size: 18px;
    color: #324E2F;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mail-information a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    color: #324E2F;
}

iframe {
    width: 100%;
    height: 450px;
    position: absolute;
    left: 0;
}

.get-in-touch {
    margin-top: 550px;
    margin-bottom: 80px;
}

.in-touch-title h2 {
    font-family: Libre Baskervillec;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.in-touch-title p {
    font-family: Libre Baskervillec;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    width: 40%;
    margin: auto;
    color: #343D33;
    text-align: center;
    margin-top: 0;
}

form {
    width: 60%;
    margin:auto;
}

.form-content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-content input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transprent;
}

.form-content label {
    border: none;
    width:100%;
}

textarea:focus,
input:focus {
    outline: none;
}

::placeholder {
    font-family: Libre Baskervillec;
    color: #343D33;
    font-size: 18px;
    text-transform: uppercase;
}

input:focus::placeholder {
    color: transparent;
}

input[type=text] {
    font-family: Libre Baskervillec;
    font-size: 18px;
    color: #000;
}

.btn-send {
    float: right;
    background: transparent;
    border: 1px solid #475F45;
}

.btn-send h4 {
    color: #475F45;
    font-size: 13px;
    font-weight: 700;
    margin-right: 0;
    font-family: roboto;
    text-transform: uppercase;
}

#result {
    font-family: Roboto;
    font-size: 14px;
    color: #343D33;
}

.h-captcha iframe {
    position: relative;
}
