@media only screen and (max-width: 768px) {

    /* header */

    .menu a {
        font-size: 13px;
    }

    .btn {
        width: 150px;
        height: 49px;
    }

    .btn span {
        font-size: 12px;
    }

    /* content */

    .events-content {
        max-width: 390px;
    }

    .first-row {
        display: block;
        max-width: 700px;
        margin: auto;
        margin-bottom: 70px;
    }

    .first-row img {
        width: 370px;
        height: 248px;
    }

    .image {
        display: flex;
        justify-content: center;
    }

    .description-events {
        width: 320px;
        height: 320px;
        border: solid 2px #324E2F;
        background-color: #ffffff;
        z-index: 0;
        left: -11px;
        margin: auto;
        margin-top: 39px;
        border-radius: 25px;
    }

    .green-rectangle {
        width: 320px;
        height: 320px;
        border-radius: 25px;
        background-color: #324E2F;
        position: absolute;
        right: 48px;
        top: 300px;
        z-index: -1;
    }

    @keyframes mymove {
        0% {
            top: 0px;
            right: -36px;
        }

        100% {
            top: 30px;
            margin-right: 10px;
        }
    }

    .description-events h2 {
        font-size: 25px;
        margin-top: 10px;
    }

    .description-events p {
        font-size: 20px;
        margin-top: 20px;
        width: 88%;
        line-height: 25px;
    }

    .description-events h5 {
        font-size: 14px;
        bottom: -2px;
    }

    .picture-description {
        display: grid;
        width: 100%;
        justify-content: unset;
        justify-items: center;
        margin-bottom: 30px;
    }

    .second-row img {
        width: 370px;
        height: 248px;
        border-radius: 25px;
    }

    .border-description {
        width: 370px;
        height: 270px;
    }

    .picture-description h3 {
        font-size: 28px;
    }

    .picture-description p {
        font-size: 20px;
        width: 91%;
    }

    .picture-description h5 {
        font-size: 14px;
    }

    .third-row img {
        width: 370px;
        height: 248px;
        border-radius: 25px;
        margin-top: 30px;
    }

    .third-row {
        display: block;
        max-width: 700px;
        margin: auto;
    }

    .description-events.second {
        margin: auto;
    }

    .green-rectangle.second {
        top: -22px;
        left: 43px;
    }

    @keyframes move {
        0% {
            margin-top: -26px;
            margin-left: -6px;
        }

        100% {
            margin-top: 14px;
            margin-left: 25px;
        }
    }

    /* footer */

    footer {
        height: initial;
    }

    .top-content-footer {
        display: block;
    }

    .footer-name-logo {
        justify-content: center;
    }

    .footer-text p {
        font-size: 11px;
        width: 60%;
        margin: auto;
        margin-bottom: 30px;
    }

    .first-column {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .second-column {
        width: 100%;
        text-align: center;
    }

    .third-column {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }

    .social-media {
        margin: 20px 20px 0 20px;
    }

    .icons {
        margin-bottom: 10px;
    }

}