@media only screen and (max-width: 1400px) {
    /* header */

    header {
        width: 95%;
    }

    .name-logo {
        width: 28%;
    }

    .menu {
        width: 72%;
    }

    .menu a {
        margin-right: 23px;
        font-size: 12px;
    }

    .name h1 {
        font-size: 21px;
    }

    .name p {
        font-size: 12px;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .btn {
        width: 139px;
        height: 47px;
    }

    .btn span {
        font-size: 12px;
    }

    #hamburger-menu ul {
        margin: 0;
    }

    .logo img {
        width: 123px;
        height: 91px;
        margin-left: -66px;
    }

    /* content */

    .events-content {
        width: 100%;
        max-width: 1050px;
    }

    .first-row img {
        width: 537px;
        height: 360px;
    }

    .description-events {
        width: 335px;
        height: 335px;
    }

    .green-rectangle {
        width: 335px;
        height: 335px;
    }

    .third-row img {
        width: 537px;
        height: 360px;
    }

    .description-events h2 {
        font-size: 24px;
        width: 67%;
    }

    .description-events p {
        font-size: 17px;
        margin-top: 25px;
        line-height: 26px;
    }

    .description-events h5 {
        font-size: 13px;
    }

    .border-description {
        width: 310px;
        height: 235px;
    }

    .picture-description h3 {
        font-size: 21px;
    }

    .picture-description p {
        font-size: 16px;
        width: 80%;
        line-height: 22px;
    }

    .picture-description h5 {
        font-size: 13px;
    }

    .second-row img {
        width: 310px;
        height: 208px;
    }

    @keyframes mymove {
        0% {
            top: 0px;
            right: -36px;
        }

        100% {
            top: 15px;
            right: -64px;
        }
    }

    @keyframes move {
        0% {
            margin-top: -26px;
            margin-left: -6px;
        }

        100% {
            margin-top: 15px;
            margin-left: 19px;
        }
    }

    /* footer */

    .top-content-footer {
        width: 90%;
    }
}