@media only screen and (max-width: 1400px) {

    /* header */
    header {
        width: 84%;
    }

    .btn h4 {
        font-size: 11px;
        margin-top: 18px;
    }

    #hamburger-menu ul {
        margin: 0;
    }

    .name-logo {
        width: 28%;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .logo img {
        width: 123px;
        height: 91px;
        margin-left: -66px;
    }

    .name h1 {
        font-size: 21px;
    }

    .menu {
        width: 72%;
    }

    #hamburger-menu ul {
        margin: 0;
    }

    .menu li {
        margin-right: 25px;
    }

    .menu a {
        font-size: 12px;
    }

    .btn {
        width: 142px;
        height: 49px;
    }

    .btn h4 {
        font-size: 11px;
    }

    /* content */

    .events-content {
        width: 100%;
        max-width: 1050px;
    }

    .first-row img {
        width: 537px;
        height: 360px;
    }

    .description-events {
        width: 335px;
        height: 335px;
        left: 89px;
    }

    .green-rectangle {
        width: 335px;
        height: 335px;
    }

    .third-row img {
        width: 537px;
        height: 360px;
    }

    .description-events h2 {
        font-size: 24px;
        width: 67%;
    }

    .description-events p {
        font-size: 17px;
        margin-top: 25px;
        line-height: 26px;
    }

    .description-events h5 {
        font-size: 13px;
    }

    .border-description {
        width: 310px;
        height: 235px;
    }

    .picture-description h3 {
        font-size: 21px;
    }

    .picture-description p {
        font-size: 16px;
        width: 80%;
        line-height: 22px;
    }

    .picture-description h5 {
        font-size: 13px;
    }

    .second-row img {
        width: 310px;
        height: 208px;
    }

    @-webkit-keyframes mymove {
        0% {
            top: 0px;
            left:89px;
        }

        100% {
            top: 15px;
            left: 60px;
        }
    }

    .description-events.second {
        margin-left: -90px;
    }

    @-webkit-keyframes move {
        0% {
            margin-left: -90px;
        }

        100% {
            margin-top: 15px;
            margin-left: -60px;
        }
    }

    /* footer */

    .top-content-footer {
        width: 80%;
    }
}