@media only screen and (max-width: 768px) {
    /* header */

    .name-logo {
        width: 95%;
    }

    .menu-icon {
        width: 5%;
    }

    .menu a {
        font-size: 13px;
    }

    /* content */

    .shop-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 200px 1fr 1fr 1fr 1fr 1fr;
        width: 90%;
    }

    .decorative-photo-second {
        align-items: center;
    }

    .center-photo {
        position: relative;
    }

    .flower img {
        width: 120px;
        height: 120px;
    }

    .flowerpot img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }

    .flower h3 {
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 8px;
    }

    .flowerpot h3 {
        font-size: 13px;
        width: 80%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 8px;
    }

    .flowerpot.fourth img {
        margin-top: 15px;
    }
    
    .flowerpot.fifth img {
        margin-top: 15px;
    }

    .flowerpot.sixth img {
        margin-top: 15px;
    }

    .flower.first {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .flower img {
        margin-top: 15px;
    }

    .flower.second {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .flower.third {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .flower.fourth {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .image-and-rectangle {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .green-rectangle {
        width: 300px;
        height: 450px;
    }

    .decorative-photo img {
        width: 300px;
        height: 450px;
    }

    .flower.fifth {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .flower.sixth {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .flower.seventh {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .flower.eighth {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .decorative-photo-second {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
    }


    .flowerpot.first {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    .flowerpot.second {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    .flowerpot.third {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 9;
        grid-row-end: 10;
    }

    .flowerpot.fourth {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 10;
        margin: 0;
    }

    .flowerpot.fifth {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 11;
    }

    .flowerpot.sixth {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 11;
    }

    .second-image-and-rectangle {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 11;
        grid-row-end: 13;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .second-decorative-photo img {
        width: 300px;
        height: 450px;
    }

    .decorative-photo-second img {
        border-radius: 25px;
        margin: 0;
    }

    .flower {
        display: flex;
        justify-content: center;
    }

    .flowerpot {
        display: flex;
        justify-content: center;
    }

    .card {
        max-width: 175px;
        height: 100%;
    }

    .content {
        width: 100%;
        height: 90%;
    }

    .back h2 {
        font-size: 11px;
    }

    .back h4 {
        font-size: 8px;
        margin-bottom: 8px;
        margin-top: 2px;
    }

    .back p {
        line-height: 13px;
    }
}