@media only screen and (max-width: 414px) {
    /* content */

    .price-list-item {
        width: 75%;
    }

    .shop-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 160px 160px 130px 130px 160px 160px 90px 160px 160px 160px 130px 130px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .flower img {
        width: 70px;
        height: 70px;
    }

    .flowerpot img {
        width: 55px;
        height: 55px;
    }

    .flower h3 {
        font-size: 11px;
    }

    .flower.fourth {
        margin: 0;
    }

    .flower.third {
        margin: 0;
    }

    .decorative-photo-second img {
        border-radius: 15px;
    }

    .second-decorative-photo img {
        width: 150px;
        height: 225px;
        border-radius: 20px;
        right: 15px;
        top: 15px;
        animation: move 1.5s;
        animation-fill-mode: forwards;
    }

    .decorative-photo img {
        width: 150px;
        height: 225px;
        border-radius: 20px;
        top: 15px;
        left: 15px;
        animation: mymove 1.5s;
        animation-fill-mode: forwards;
    }

    .green-rectangle {
        width: 150px;
        height: 225px;
        border-radius: 20px;
    }

    .flowerpot.first {
        margin-top: 10px;
    }

    .flowerpot.second {
        margin-top: 10px;
    }

    .flowerpot.third {
        margin-top: 10px;
    }

    .flowerpot.fourth {
        margin-top: 10px;
    }

    .flowerpot.fifth {
        margin-top: 10px;
    }

    .flowerpot.sixth {
        margin-top: 10px;
    }

    .flowerpot h3 {
        font-size: 10px;
        width: 93%;
    }

    .flower h5 {
        font-size: 8px;
    }

    .flowerpot h5 {
        font-size: 8px;
    }

    @-webkit-keyframes mymove {
        0% {
            top: 0;
            left: 0
        }

        100% {
            top: 15px;
            left: 15px;
        }
    }

    @-webkit-keyframes move {
        0% {
            top: 0;
            right: 0
        }

        100% {
            top: 15px;
            right: 15px;
        }
    }


    .card {
        max-width: 120px;
    }

    .content {
        width: 100%;
        height: 92%;
    }

    .flower img {
        margin-top: 15px;
    }

    .flower.fifth {
        margin: 0;
    }

    .flower.sixth {
        margin: 0;
    }

    .flower.seventh {
        margin: 0;
    }

    .flower.eighth {
        margin: 0;
    }

    .flowerpot img {
        margin-top: 20px;
    }

    .flowerpot h3 {
        width: 75%;
    }

    .back h2 {
        font-size: 10px;
        margin-top: 5px;
    }

    .back p {
        font-size: 8px;
        line-height: 10px;
    }
}