@media only screen and (max-width:1200px) {
    /* content */

    .shop-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 300px 1fr 1fr 1fr 1fr;
        max-width: 1220px;
        margin: auto;
        margin-bottom: 70px;
        margin-top: 60px;
        width: 85%;
    }

    .green-rectangle {
        width: 300px;
        height: 450px;
    }

    .decorative-photo img {
        width: 300px;
        height: 450px;
        animation: mymove 1.5s;
        animation-fill-mode: forwards;
    }

    .second-decorative-photo img {
        width: 300px;
        height: 450px;
        animation: move 1.5s;
        animation-fill-mode: forwards;
    }

    .back h2 {
        width: 95%;
        font-size: 13px;
        margin-top: 10px;
    }

    .back h4 {
        font-size: 10px;
        margin-bottom: 12px;
    }

    .back p {
        font-size: 10px;
        line-height: 15px;
        width: 85%;
    }

    .flower img {
        width: 150px;
        height: 150px;
    }

    .flowerpot img {
        width: 130px;
        height: 130px;
    }

    .flower h3 {
        font-size: 15px;
    }

    .flowerpot h3 {
        font-size: 15px;
    }

    .flower h5 {
        font-size: 11px;
    }

    .flowerpot h5 {
        font-size: 11px;
    }

    .center-flowerpot {
        display: flex;
        justify-content: center;
    }

    .decorative-photo-second {
        align-items: center;
    }

    .flower.fifth {
        margin-top: 5px;
    }

    .flower.sixth {
        margin-top: 5px;
    }

    .flower.seventh {
        margin-top: 5px;
    }

    .flower.eighth {
        margin-top: 5px;
    }

    @-webkit-keyframes mymove {
        0% {
            top: 0;
            left: 0
        }

        100% {
            top: 25px;
            left: 25px;
        }
    }

    @-webkit-keyframes move {
        0% {
            top: 0;
            right: 0
        }

        100% {
            top: 25px;
            right: 25px;
        }
    }
}