@media only screen and (max-width: 1400px) {
    /* header */

    header {
        width: 84%;
    }

    .name-logo {
        width: 28%;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .logo img {
        width: 123px;
        height: 91px;
        margin-left: -66px;
    }

    .name h1 {
        font-size: 21px;
    }

    .btn h4 {
        font-size: 11px;
        margin-top: 18px;
    }

    .menu li {
        margin-right: 25px;
    }

    #hamburger-menu ul {
        margin: 0;
    }

    .menu li {
        margin-right: 25px;
    }

    .menu a {
        font-size: 12px;
    }

    .btn {
        width: 142px;
        height: 49px;
    }

    .btn h4 {
        font-size: 11px;
    }

    /* content */

    .shop-content {
        width: 90%;
        margin-bottom: 70px;
    }

    .decorative-photo-second img {
        width: -webkit-fill-available;
    }

    .green-rectangle {
        width: 430px;
        height: 645px;
    }

    .decorative-photo img {
        width: 430px;
        height: 645px;
    }

    .second-decorative-photo img {
        width: 430px;
        height: 645px;
    }

    .decorative-photo-second {
        align-items: center;
    }

    .flower img {
        width: 200px;
        height: 200px;
    }

    .flower h3 {
        font-size: 20px;
    }

    .flower h5 {
        font-size: 14px;
    }

    .flowerpot img {
        width: 180px;
        height: 180px;
    }

    .flowerpot h3 {
        font-size: 19px;
        width: 90%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 7px;
    }

    .flowerpot h5 {
        font-size: 14px;
    }

    .back h2 {
        font-size: 17px;
        margin-top: 20px;
    }

    .back h4 {
        margin-bottom: 20px;
    }

    .back p {
        font-size: 14px;
    }

    /* footer */

    .top-content-footer {
        width: 80%;
    }
}