@media only screen and (max-width: 992px) {
    /* content */
    .shop-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 220px 1fr 1fr 1fr 1fr;
        max-width: 1220px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .decorative-photo-second img {
        width: -webkit-fill-available;
        align-items: flex-start;
    }

    .decorative-photo-second {
        align-items: flex-start;
    }

    .flower img {
        width: 120px;
        height: 120px;
    }

    .decorative-photo img {
        width: 270px;
        height: 405px;
    }

    .second-decorative-photo img {
        width: 270px;
        height: 405px;
    }

    .green-rectangle {
        width: 270px;
        height: 405px;
    }

    .flower h3 {
        font-size: 14px;
    }

    .flower h5 {
        font-size: 11px;
    }

    .flowerpot img {
        width: 100px;
        height: 100px;
        margin-top: 15px;
    }

    .flowerpot.fourth img {
        margin: 0;
    }
    
    .flowerpot.fifth img {
        margin: 0;
    }

    .flowerpot.sixth img {
        margin: 0;
    }

    .flowerpot h3 {
        font-size: 14px;
    }

    .flowerpot h5 {
        font-size: 11px;
    }

    .back h2 {
        width: 90%;
        font-size: 12px;
        margin-top: 10px;
    }

    .back h4 {
        font-size: 9px;
        margin-bottom: 11px;
        margin-top: 5px;
    }

    .back p {
        font-size: 10px;
        line-height: 15px;
        width: 85%;
    }

    .shop-line {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}