@media only screen and (max-width:1200px) {

    /* header */
    header {
        width: 97%;
    }

    .name-logo {
        width: 27%;
    }

    .name h1 {
        font-size: 20px;
        letter-spacing: 1.5px;
    }

    .name p {
        font-size: 11px;
    }

    .menu {
        width: 80%;
    }

    .menu a {
        letter-spacing: 1.5px;
        font-size: 11px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .logo img {
        width: 105px;
        height: 86px;
        margin-left: -57px;
        margin-top: 10px;
    }

    .btn {
        width: 141px;
        height: 47px;
    }

    /* content */

    .shop-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 300px 1fr 1fr 1fr 1fr;
        max-width: 1220px;
        margin: auto;
        margin-bottom: 70px;
        margin-top: 60px;
        width: 85%;
    }

    .green-rectangle {
        width: 300px;
        height: 450px;
    }

    .decorative-photo img {
        width: 300px;
        height: 450px;
        animation: mymove 1.5s;
        animation-fill-mode: forwards;
    }

    .second-decorative-photo img {
        width: 300px;
        height: 450px;
        animation: move 1.5s;
        animation-fill-mode: forwards;
    }

    .flower img {
        width: 150px;
        height: 150px;
    }

    .flowerpot img {
        width: 150px;
        height: 150px;
    }

    .flower h3 {
        font-size: 15px;
    }

    .flowerpot h3 {
        font-size: 15px;
    }

    .flower h5 {
        font-size: 11px;
    }

    .flowerpot h5 {
        font-size: 11px;
    }

    .center-flowerpot {
        display: flex;
        justify-content: center;
    }

    .decorative-photo-second {
        align-items: center;
    }

    @keyframes mymove {
        0% {
            top: 0;
            left: 0
        }

        100% {
            top: 25px;
            left: 25px;
        }
    }

    @keyframes move {
        0% {
            top: 0;
            right: 0
        }

        100% {
            top: 25px;
            right: 25px;
        }
    }

    /* footer */

    .top-content-footer {
        width: 85%;
    }

    .footer-name h4 {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .footer-name h5 {
        font-size: 12px;
    }

    .footer-name {
        margin-left: 5px;
    }

    .circle-logo img {
        width: 40px;
    }

    .footer-text p {
        font-size: 12px;
        width: 80%;
    }

    .footer-title h4 {
        font-size: 18px;
    }

    .text-link a {
        font-size: 12px;
    }

    .social-media img {
        width: 17px;
    }
}