body {
    margin: 0;
    position: relative;
}

/* header */
header {
    display: flex;
    max-width: 1220px;
    margin: auto;
    justify-content: space-between;
}

.name-logo a {
    text-decoration: none;
}

.btn-menu h4 {
    text-transform: uppercase;
}

.btn-slide-menu {
    display: none;
}

/* header */

.btn-menu h4 {
    text-transform: uppercase;
}

.btn-slide-menu {
    display: none;
}

header {
    display: flex;
    max-width: 1220px;
    margin: auto;
    justify-content: space-between;
}

.name-logo a {
    text-decoration: none;
}

header {
    display: flex;
    max-width: 1220px;
    margin: auto;
}

.name-logo {
    margin-top: 15px;
    width: 25%;
    display: flex;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: #343D33;
    border-radius: 60px;
}

.logo img {
    width: 130px;
    height: 95px;
    transform: scaleX(-1);
    margin-left: -70px;
    margin-top: 12px;
}

.name {
    margin-top: 5px;
    margin-left: 10px;
}

.name h1 {
    font-family: roboto;
    font-weight: 500;
    font-size: 25px;
    color: #343D33;
    margin: 0;
    letter-spacing: 1.5px;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.name p {
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin: 0;
    font-style: italic;
}

.menu-icon {
    display: none;
}

.menu-icon input {
    position: absolute;
    height: 22px;
    width: 28px;
    margin: 0;
    opacity: 0;
}

#menu {
    display: block;
}

.menu {
    display: flex;
    height: 45px;
    width: 75%;
    margin-top: 15px;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
}

#hamburger-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav {
    display: flex;
}

#hamburger-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-open ul {
    padding: 0;
    margin-top: 20px;
    display: flex;
}

.menu li {
    margin-right: 40px;
}

.menu-open li {
    list-style: none;
}

.menu a {
    font-family: roboto;
    font-weight: 700;
    color: #414840;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
    margin-right: 0;
}

.btn {
    position: relative;
    width: 165px;
    height: 55px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #475F45;
    outline: none;
    transition: 1s ease-in-out;
    text-decoration: none;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #475F45;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn-menu h4 {
    margin: 0;
    margin-top: 19px;
    -webkit-text-fill-color: unset;
    font-size: 13px;
}

.menu-slide-a {
    display: none;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: transparent;
}

.btn-first-section:hover {
    transition: 1s ease-in-out;
    background: #475F45;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn-first-section svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #FFF;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

/* content */

header,
footer {
    z-index: 1;
    position: relative;
}

#events-section {
    position: relative;
    z-index: 1;
}

.background-wave {
    position: absolute;
    width: 70%;
    height: 100%;
}

.events-content {
    max-width: 1220px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 70px;
    position: relative;
}

.description-events {
    width: 445px;
    height: 445px;
    border-radius: 40px;
    border: solid 2px #324E2F;
    background-color: #ffffff;
    z-index: 0;
    position: relative;
    left: 37px;
    animation: mymove 1.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes mymove {
    0% {
        top: 0px;
        right: 0px;
    }

    100% {
        top: 27px;
        left: 65px;
    }
}

.description-events h2 {
    font-size: 40px;
    width: 88%;
    color: #324E2F;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.description-events h5 {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 17px;
    color: #414840;
    font-weight: 400;
}

.second-row img {
    width: 360px;
    height: 240px;
    border-radius: 40px;
}

.second-row {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.second-row div {
    position: relative;
}

.border-description {
    width: 360px;
    height: 270px;
    background-color: #fff;
    border-radius: 40px;
    border: solid 2px #324E2F;
    position: relative;
}

.description-events p {
    font-family: roboto;
    color: #414840;
    font-size: 26px;
    width: 85%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.border-description h5 {
    font-size: 18px;
    color: #414840;
    position: absolute;
    bottom: -10px;
    left: 20px;
}

.green-rectangle {
    width: 445px;
    height: 445px;
    border-radius: 40px;
    background-color: #324E2F;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.first-row {
    display: flex;
    justify-content: space-between;
}

.first-row img {
    width: 700px;
    height: 469px;
    border-radius: 40px;
}

.picture-description img {
    margin-bottom: 20px;
}

.picture-description h3 {
    font-size: 24px;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    color: #324E2F;
}

.picture-description p {
    font-size: 21px;
    font-family: roboto;
    color: #414840;
    width: 88%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.picture-description h5 {
    font-size: 16px;
    font-family: robot;
    color: #414840;
    font-weight: 400;
}

.third-row {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.third-row img {
    border-radius: 40px;
    width: 700px;
    height: 469px;
}

.description-events.second {
    margin-left: -36px;
    margin-top: 0px;
    animation: move 1.5s;
    animation-fill-mode: forwards;
    right: 0;
}

@-webkit-keyframes move {
    0% {
        margin-left: -36px;
    margin-top: 0px;
    }

    100% {
        margin-top: 22px;
        margin-left: 0px;
    }
}

.green-rectangle.second {
    left: 0;
    position: absolute;
}