@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
#first-section {
    height: 892px;
    background-color: #FFFFFF;
}
.header {
    display: flex;
    width: 60%;
    margin: auto;
}
.name-logo {
    display: flex;
}
.logo {
    width: 60px;
    height: 60px;
    background-color: #343D33;
    border-radius: 60px;
}
.logo img {
    width: 130px;
    height: 95px;
    transform: scaleX(-1);
    margin-left: -70px;
    margin-top: 12px;
}
.name-logo {
    padding-top: 15px;
    width: 35%;
    height: 60px;
}
.name {
    padding-top: 5px;
    padding-left: 10px;
}
.name h4 {
    font-family: roboto;
    font-weight: 500;
    font-size: 25px;
    color: #343D33;
    margin: 0;
    letter-spacing: 1.5px;
    margin-bottom: 1px;
}
.name p {
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin: 0;
    width: 192px;
    font-style: italic;
}
.menu {
    display: flex;
    height: 45px;
    width: 70%;
    padding-top: 15px;
    align-items: center;
    justify-content: flex-end;
}
.menu a {
    font-family: roboto;
    font-weight: 700;
    color: #414840;
    margin: 0;
    margin-right: 40px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.5px;
}
.menu.programs-events {
    width: 180px;
}
.menu h5 {
    font-family: roboto;
    font-weight: 700;
    color: #414840;
    margin: 0;
    margin-right: 40px;
    font-size: 14px;
    letter-spacing: 1.5px;
}
.button-header  {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.button-header {
    width: 170px;
    height: 45px;
    border-width: 2px;
    border-color: #475F45;
    border-style: solid;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
}
.button-header:hover {
    box-shadow: 0 0 30px 8px #80977d;
}
.button-header h5 {
    margin-left: 30px;
}
.first-section-content {
    display: flex;
    width: 60%;
    height: 90%;
    margin-top: 55px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.left-content {
    width: 50%;
}
.page-title h1 {
    font-size: 57px;
    font-family: Libre Baskerville;
    font-weight: 400;
    color: #343D33;
    margin: 0;
}
.page-title h3 {
    font-family: Roboto;
    font-weight: 300;
    color: #414840;
    width: 390px;
    padding-top: 15px;
    margin: 0;
}
.buttons {
    display: flex;
    padding-top: 32px;
}
.first-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #475F45;
    width: 190px;
    height: 55px;
    background-color: #475F45;
    margin-right: 15px;
    cursor: pointer;
    border: transparent;
    transition-duration: 0.4s;
}
.first-button:hover {
    box-shadow: 0 0 30px 8px #80977d;;
}
.first-button h5 {
    font-family: roboto;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    letter-spacing: 0.5px;
}
.second-button {
    width: 188px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #475F45;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.4s;
}
.second-button:hover {
    box-shadow: 0 0 30px 8px #80977d;
}
.second-button h5 {
    font-family: roboto;
    font-weight: 700;
    font-size: 14px;
    color: #475F45;
    margin: 0;
}
.right-content {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.border-and-img {
    display: flex;
}
.img-in-border {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
}



