#second-section {
    width: 1400px;
    height: 1035px;
    background-color: #343D33;
}
.top-content {
    display: flex;
    margin: 0 180px;
    padding-top: 100px;
}
.second-section-title h3 {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 45px;
    color: #FFFFFF;
    margin: 0 0 30px 0;
}
.second-section-text p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 0 30px 0;
    line-height: 30px;
}
.third-button {
    width: 190px;
    height: 55px;
    border: 2px solid #FFFFFF;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
}
.third-button h5 {
    font-family: roboto;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0;
    color: #FFFFFF;
}
.top-right-content {
    margin-left: 90px;
}
.second-section-img {
    margin-top: 80px;
    margin-left: 180px;
}
.branch {
    float: right;
    margin-top: -600px;
    opacity: 0.07;
}