@media only screen and (max-width: 1400px) {

    /* header */

    header {
        width: 84%;
    }

    .btn h4 {
        font-size: 11px;
    }

    #hamburger-menu ul {
        margin: 0;
    }

    .name-logo {
        width: 28%;
    }

    .menu li {
        margin-right: 25px;
    }

    .menu a {
        font-size: 12px;
    }

    .name h1 {
        font-size: 21px;
    }

    .name p {
        font-size: 12px;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .btn {
        width: 139px;
        height: 47px;
    }

    .btn h4 {
        font-size: 11px;
        margin-top: 18px;
    }

    #hamburger-menu ul {
        margin: 0;
    }

    .logo img {
        width: 123px;
        height: 91px;
        margin-left: -66px;
    }

    /* content */

    .exhibition-content {
        width: 85%;
    }

    .exhibition-description {
        width: 63%;
    }

    .exhibition-description h3 {
        width: 60%;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .exhibition-description h4 {
        width: 50%;
        font-size: 15px;
        margin-top: 0;
    }

    .exhibition-image {
        width: 37%;
    }

    .exhibition-image img {
        width: 420px;
        height: 630px;
    }

    .green-rectangle {
        width: 420px;
        height: 630px;
    }

    /* footer */

    .top-content-footer {
        width: 80%;
    }
}