@media only screen and (max-width:768px) {
    .name-logo {
        width: 95%;
    }

    .menu-icon {
        width: 5%;
    }

    .menu a {
        font-size: 13px;
    }

    .btn {
        width: 133px;
        height: 45px;
    }
    footer {
        height: initial;
    }

    .top-content-footer {
        display: block;
    }

    .footer-name-logo {
        justify-content: center;
    }

    .footer-text p {
        font-size: 11px;
        width: 60%;
        margin: auto;
        margin-bottom: 30px;
    }

    .first-column {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .second-column {
        width: 100%;
        text-align: center;
    }

    .third-column {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }

    .social-media {
        margin: 20px 20px 0 20px;
    }

    .icons {
        margin-bottom: 10px;
    }
}