@media only screen and (max-width: 1800px) {
    header {
        width: 85%;
    }
    
    .name-logo {
        width: 24%;
    }
    
    .menu {
        width: 76%;
    }
    .top-content-footer {
        width: 80%;
        padding-top: 40px;
    }
}
