@media only screen and (max-width: 1400px) {

    
    /* first section */

    .first-section-content {
        width: 85%;
    }

    .page-title h1 {
        font-size: 48px;
    }

    .img-in-border {
        width: 400px;
    }

    .border {
        width: 418px;
    }

    /* second section */

    .second-section-title h3 {
        font-size: 40px;
    }

    .second-section-text p {
        font-size: 16px;
    }

    .button-hover h4 {
        font-size: 13px;
        top: 2px;
    }

    .button-hover {
        width: 159px;
        height: 53px;
    }

    .second-container {
        width: 80%;
        height: 93%;
    }

    .branch img {
        width: 90%;
        float: right;
    }

    .dot {
        width: 12px;
        height: 12px;
    }

    /* third section */

    #third-section {
        height: initial;
        margin: 50px 0;
    }

    .third-section-title h3 {
        font-size: 40px;
    }

    .third-section-subtitle img.line {
        width: 9%;
    }

    .view-posts a {
        font-size: 12px;
    }

    .arrow {
        margin-top: 9px;
        margin-left: 5px;
        width: 17px;
    }

    .third-section-left-bottom-content h3 {
        font-size: 22px;
    }

    .third-section-left-bottom-content p {
        font-size: 15px;
    }

    .third-section-left-bottom-content h5 {
        font-size: 13px;
    }

    .row-text h3 {
        font-size: 22px;
    }

    .row-text p {
        font-size: 15px;
    }

    .row-text h5 {
        font-size: 12px;
        margin-top: 5px;
    }

    .third-section-content {
        width: 80%;
    }

    .third-section-conteiner {
        margin: auto;
        width: 100%;
        padding-top: 50px;
    }

    .third-section-left-content {
        width: 45%;
    }

    .third-section-right-content {
        width: 55%;
    }

    .row-text {
        margin-left: 10px;
    }

    .long-line img {
        width: 100%;
    }

    .photo-garden img {
        width: 90%;
    }

    .photo-garden {
        width: 100%;
    }
}