@media only screen and (max-width: 1800px) {

    header {
        width: 85%;
    }

    .name-logo {
        width: 24%;
    }

    .menu {
        width: 76%;
    }

    .first-section-content {
        width: 80%;
    }

    /* second section */

    .second-container {
        width: 75%;
    }

    .second-section-title h3 {
        font-size: 45px;
    }

    .second-section-text p {
        font-size: 18px;
        text-align: left;
        margin: 0 0 24px 0;
    }

    .branch img {
        width: 100%;
    }

    /* third section */

    #third-section {
        height: initial;
        margin: 50px 0;
    }

    .third-section-description {
        width: 85%;
    }

    .third-section-content {
        width: 75%;
    }

    .third-section-left-content {
        width: 50%;
    }

    .third-section-right-content {
        width: 50%;
    }

    .third-section-left-bottom-content h3 {
        font-size: 27px;
    }

    .third-section-left-bottom-content p {
        font-size: 20px;
        width: 100%;
    }

    .row-text h3 {
        margin-top: 0;
    }

    .row-text p {
        font-size: 18px;
        width: 100%;
    }

    /* footer */

    .top-content-footer {
        width: 80%;
        padding-top: 40px;
    }
}