@media only screen and (max-width: 992px) {
    #first-section {
        position: relative;
        height: initial;
    }

    nav {
        display: block;
    }

    header {
        width: 95%;
        justify-content: space-between;
    }

    .page-title h1 {
        font-size: 41px;
    }

    .left-content {
        width: 80%;
        margin: auto;
    }

    .page-title h2 {
        width: 75%;
    }

    #hamburger-menu {
        display: block;
        float: none;
        margin-top: 60px;
    }

    #hamburger-menu ul {
        display: block;
    }

    .menu {
        position: fixed;
        width: 45%;
        height: 100vh;
        background-color: rgb(250, 250, 250);
        opacity: 0.95;
        right: 0;
        margin: 0;
        display: block;
        line-height: 80px;
        display: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transform: translateX(0%);
        transition: transform .3s;
        will-change: transform;
        contain: paint;
        animation-duration: .7s;
    }

    .menu ul {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .menu-icon {
        display: flex;
        z-index: 101;
        width: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sticky-menu-icon {
        animation-name: slide-in;
        display: block;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .menu-icon input {
        position: absolute;
        border: transprent;
        height: 22px;
        width: 22px;
        z-index: 100;
        opacity: 0;
        margin: 0;
        visibility: visible;
    }

    input.sticky-hamburger,
    .hamburger-lines.sticky-hamburger {
        position: fixed;
    }

    .sticky-menu-icon .hamburger-lines {
        height: 23px;
        width: 28px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .btn span {
        font-size: 13px;
    }

    .button {
        margin: 0 15px 0 15px;
    }

    #menu {
        display: none;
    }

    .menu-open {
        display: block;
        text-align: center;
        animation-name: slide-out;
    }

    @keyframes slide-out {
        0% {
            transform: translate(100%);
        }

        100% {
            transform: translate(0%);
        }
    }

    .menu-close {
        animation-name: slide-in;
        display: block;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    @keyframes slide-in {
        0% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(100%)
        }
    }

    .menu-close li {
        list-style: none;
    }

    .menu-open ul a:hover {
        color: #475F45;
        transition: color 0.3s ease-in-out;
    }

    .menu-open ul {
        display: block;
    }

    .menu-open li {
        list-style: none;
    }

    .menu-icon .hamburger-lines {
        display: block;
        height: 22px;
        width: 22px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .menu-icon .hamburger-lines .line {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .menu-icon input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .sticky-menu-icon .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
        width: 27px;
        transform: rotate(45deg);
    }

    .menu-icon input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
        transition: transform 0.2s ease-in-out;
    }

    .sticky-menu-icon .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
        width: 27px;
        transform: rotate(-45deg);
    }

    .menu-link {
        display: flex;
        justify-content: center;
    }

    .menu a {
        letter-spacing: 2px;
        font-size: 16px;
        margin: 0;
        cursor: pointer;
        display: inline;
    }

    .menu a {
        background-image: linear-gradient(to right,
                #475F45,
                #475F45 50%,
                #000 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    .menu a:before {
        content: '';
        background: #475F45;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    .menu a:hover {
        background-position: 0;
    }

    .menu a:hover::before {
        width: 100%;
    }


    .button-header h5 {
        background-image: linear-gradient(to right,
                #475F45,
                #475F45 50%,
                #000 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    .button-header h5:before {
        content: '';
        background: #475F45;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    .button-header h5:hover {
        background-position: 0;
    }

    .button-header:hover {
        box-shadow: none;
    }

    .button-header h5:hover::before {
        width: 100%;
    }

    .menu-button {
        display: flex;
        justify-content: center;
    }

    .button-header.second-button {
        border: none;
    }

    .button-header h5 {
        margin: auto;
        font-size: 16px;
    }

    .menu-icon img {
        width: 24px;
    }

    .name-logo {
        width: 96.5%;
    }

    .first-section-content {
        display: grid;
        width: 95%;
    }

    .left-content {
        width: 100%;
    }

    .page-title h1 {
        font-size: 47px;
    }

    .title-first-section {
        display: flex;
        margin-top: 45px;
        text-align: center;
        width: 75%;
        margin: auto;
        margin-top: 40px;
    }

    .first-section-paragraph {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .buttons {
        justify-content: center;
    }

    .right-content {
        width: 100%;
        justify-content: center;
        margin: 65px 0;
    }

    /* second section */

    #second-section {
        height: fit-content;
    }

    .second-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 33% 33% 33%;
        gap: 25px 0;
    }

    .second-section-text {
        display: flex;
        justify-content: center;
    }

    .branch {
        bottom: 4%;
    }

    .branch img {
        position: relative;
    }


    .top-left-content {
        display: block;
    }

    .top-right-content {
        width: 60%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: flex-start;
        align-self: auto;
    }

    .third-button button {
        width: 185px;
        height: 63px;
    }

    .second-section-title h3 {
        font-size: 44px;
    }

    .second-section-text p {
        font-size: 20px;
        height: 145px;
    }

    /* third section */

    #third-section {
        height: initial;
        margin: 50px 0;
    }

    .third-section-subtitle img.line {
        width: 15%;
    }

    .third-section-content {
        width: 90%;
    }

    .third-section-conteiner {
        display: grid;
    }

    .photo-garden {
        width: 52%;
    }

    .third-section-left-content {
        width: 100%;
    }

    .third-section-left-bottom-content {
        display: flex;
        margin-bottom: 40px;
    }

    .third-section-left-bottom-content h3 {
        font-size: 27px;
        margin: 0;
    }

    .third-section-left-bottom-content p {
        font-size: 17px;
        margin-top: 10px;
    }

    .bottom-content h5 {
        font-size: 15px;
    }

    .third-section-right-content {
        width: 100%;
    }

    .third-section-description {
        margin-left: 15px;
        width: 45%;
    }

    .photo {
        width: 40%;
    }

    .row-text {
        width: 80%;
    }

    .row-text h3 {
        font-size: 25px;
    }

    .row-text p {
        font-size: 20px;
    }

    .row-text h5 {
        font-size: 13px;
        margin-top: 10px;
    }

    /* footer  */

    footer {
        height: initial;
    }

    .top-content-footer {
        width: 95%;
    }

    .footer-text p {
        font-size: 15px;
    }
}