@media only screen and (max-width: 1200px) {

    /* first section */

    #first-section {
        height: initial;
    }

    header {
        width: 97%;
    }

    .name-logo {
        width: 27%;
    }

    .menu {
        width: 80%;
    }

    .menu a {
        letter-spacing: 1.5px;
        font-size: 11px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .logo img {
        width: 105px;
        height: 86px;
        margin-left: -57px;
        margin-top: 10px;
    }

    .name h1 {
        font-size: 20px;
        letter-spacing: 1.5px;
    }

    .name p {
        font-size: 11px;
    }

    .btn {
        width: 141px;
        height: 47px;
        border: 1px solid #475F45;
    }

    .btn h4 {
        font-size: 10.5px;
        margin-right: 0;
        top: 15px;
        left: 16px;
    }

    .btn-text h4 {
        font-size: 13px;
    }

    .button-header {
        width: 150px;
        height: 45px;
    }

    .button-header h5 {
        margin: auto;
        font-size: 13px;
    }

    .button-header.second-button {
        width: 150px;
        height: 47px;
    }

    .first-section-content {
        width: 85%;
        margin: 60px;
    }

    .page-title h1 {
        font-size: 32px;
        width: 386px;
    }

    .page-title h2 {
        font-size: 13px;
        width: 62%;
    }

    .buttons {
        margin-top: 30px;
    }

    .btn {
        width: 127px;
        height: 42px;
    }

    .btn-text h4 {
        font-size: 12px;
        margin-top: 14px;
    }

    .first-button {
        width: 180px;
        height: 55px;
    }

    .second-button {
        width: 180px;
        height: 55px;
    }

    .border {
        width: 410px;
    }

    .img-in-border {
        width: 390px;
    }

    /* second section */

    .second-container {
        width: 85%;
        gap: 25px 25px;
        height: 98%;
    }

    .second-section-title h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .second-section-text p {
        font-size: 13px;
        width: 86%;
    }

    .button-hover {
        width: 123px;
        height: 41px;
    }

    .button-hover h4 {
        font-size: 10px;
    }

    .btn-menu h4 {
        margin-top: 15px;
    }

    .top-right-content {
        width: 100%;
    }

    .branch img {
        width: 80%;
    }

    #arrow-right {
        right: 15px;
    }

    #arrow-left {
        left: 15px;
    }

    /* third section */

    .third-section-conteiner {
        padding-top: 20px;
    }

    .third-section-title h3 {
        font-size: 30px;
    }

    button.view-posts {
        top: 0;
    }

    .view-posts a {
        margin-top: 0;
        font-size: 10px;
    }

    .third-section-left-bottom-content h3 {
        font-size: 21px;
    }

    .third-section-subtitle {
        align-items: center;
        margin: 20px 0;
    }

    .view-posts h5 {
        font-size: 14px;
        margin: 0;
    }

    .third-section-subtitle img.line {
        margin-top: 0;
        margin-right: 10px;
    }

    .arrow {
        margin-top: 0;
    }

    .third-section-content {
        width: 85%;

    }

    .third-section-description {
        width: 100%;
    }

    .third-section-left-bottom-content h3 {
        font-size: 24px;
    }

    .third-section-left-bottom-content p {
        font-size: 12px;
    }

    .third-section-left-bottom-content h5 {
        font-size: 11px;
    }

    .photo {
        width: 85%;
    }

    .row-text h3 {
        font-size: 20px;
    }

    .row-text p {
        font-size: 12px;
        margin-top: 7px;
        line-height: 18px;
    }

    .photo img {
        width: 100%;
    }

    .row-text {
        margin-left: 10px;
        width: 100%;
    }

    .row-text h5 {
        font-size: 10px;
        margin-top: 3px;
    }

    .third-section-left-content {
        width: 40%;
    }


    .photo-garden img {
        width: 100%;
    }

    .top-content-footer {
        width: 85%;
    }

    /* footer */

    .footer-name h4 {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .footer-name h5 {
        font-size: 12px;
    }

    .footer-name {
        margin-left: 5px;
    }

    .circle-logo img {
        width: 40px;
    }

    .footer-text p {
        font-size: 12px;
        width: 80%;
    }

    .footer-title h4 {
        font-size: 18px;
    }

    .text-link a {
        font-size: 12px;
    }

    .social-media img {
        width: 17px;
    }
}