@media only screen and (max-width: 270px) {

    /* first section */

    .menu-icon {
        width: 8%;
    }

    .name-logo {
        width: 92%;
    }

    .logo {
        width: 26px;
        height: 26px;
    }

    .logo img {
        width: 51px;
        height: 50px;
        margin-left: -28px;
        margin-top: 2px;
    }

    .name {
        padding: 0;
        margin-left: 5px;
    }

    .menu-icon .hamburger-lines {
        width: 12px;
        height: 12px;
    }

    .menu-icon input {
        width: 12px;
        height: 12px;
        right: 10px;
    }

    .hamburger-lines .line {
        height: 1px;
    }

    .sticky-menu-icon input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
        width: 16px;
    }

    .sticky-menu-icon input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
        width: 16px;
    }

    #hamburger-menu {
        margin-top: 40px;
    }

    .menu {
        width: 60%;
        line-height: 40px;
    }

    .menu a {
        font-size: 8px;
    }

    .second-button h5 {
        font-size: 8px;
    }

    .button {
        margin: 0 5px 0 5px;
    }

    .btn h4 {
        font-size: 7px;
    }

    .btn {
        width: 84px;
        height: 28px;
    }

    .name h1 {
        font-size: 12px;
    }

    .name p {
        font-size: 7px;
    }

    .page-title h1 {
        font-size: 14px;
    }

    .page-title h2 {
        font-size: 9px;
        width: 73%;
    }

    .btn {
        width: 87px;
        height: 30px;
    }

    .btn h4 {
        font-size: 7.5px;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .btn-menu h4 {
        font-size: 7px;
    }

    .btn-text h4 {
        margin-top: 11px;
    }

    .btn.btn-menu {
        width: 88px;
        height: 21px;
    }

    .btn.btn-menu h4 {
        font-size: 7.5px;
        margin-top: -9px;
    }

    .img-in-border {
        width: 180px;
    }

    .border {
        width: 189px;
    }

    .first-button {
        width: 75px;
        height: 30px;
    }

    .first-button h5 {
        font-size: 9px;
        font-weight: 400;
    }

    .second-button {
        width: 75px;
        height: 30px;
    }

    .border {
        width: 179px;
    }

    .img-in-border {
        width: 170px;
    }

    /* second section */

    .second-section-title h3 {
        font-size: 18px;
        margin: 0 0 15px 0;
    }

    .second-section-text p {
        font-size: 11px;
        line-height: 17px;
        height: 108px;
        margin-bottom: 5px;
    }

    .second-container {
        margin-bottom: 40px;
    }

    .btn {
        width: 85px;
        height: 30px;
    }

    .third-button button {
        width: 105px;
        height: 36px;
    }

    .button-hover h4 {
        font-size: 8px;
    }

    .background-color-second-section {
        padding: 30px 0 0 0;
    }

    #arrow-right {
        top: 54%;
    }

    #arrow-left {
        top: 54%;
    }


    /* footer */

    .circle-logo img {
        width: 80%;
    }
}