@media only screen and (max-width: 992px) {
    #first-section {
        position: relative;
        height: initial;
    }

    .page-title h1 {
        font-size: 35px;
        width: 74%;
        margin: auto;
    }

    .img-in-border {
        width: 360px;
        margin-top: 8px;
        margin-left: 7px;
    }

    .border {
        width: 375px;
    }

    .left-content {
        width: 80%;
        margin: auto;
    }

    .page-title h2 {
        width: 40%;
    }

   /* header */
 
/* content */

    .first-section-content {
        display: grid;
        width: 95%;
        margin: auto;
    }

    .left-content {
        width: 100%;
    }

    .title-first-section {
        display: flex;
        margin-top: 45px;
        text-align: center;
        width: 75%;
        margin: auto;
        margin-top: 40px;
    }

    .first-section-paragraph {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .buttons {
        justify-content: center;
    }

    .right-content {
        width: 100%;
        justify-content: center;
        margin: 65px 0;
    }


    .page-title h1 {
        font-size: 35px;
        width: 74%;
        margin: auto;
    }

    .img-in-border {
        width: 360px;
        margin-top: 8px;
        margin-left: 7px;
    }

    .border {
        width: 375px;
    }

    .left-content {
        width: 80%;
        margin: auto;
    }

    .page-title h2 {
        width: 40%;
    }


    /* second section */

    #second-section {
        height: fit-content;
    }

    .second-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 33% 33% 33%;
        gap: 25px 0;
        width: 75%;
    }

    .second-section-text {
        display: flex;
        justify-content: start;
    }

    .branch {
        bottom: 4%;
    }

    .branch img {
        position: relative;
    }


    .top-left-content {
        display: block;
    }

    .top-right-content {
        width: 60%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: flex-start;
        align-self: auto;
    }

    .third-button button {
        width: 123px;
        height: 42px;
    }

    .second-section-title h3 {
        font-size: 32px;
    }

    .second-section-text p {
        font-size: 14px;
        height: 145px;
    }

    .button-hover h4 {
        left: 0;
        text-align: center;
        top: 2px;
    }

    /* third section */

    #third-section {
        height: initial;
        margin: 50px 0;
    }

    .third-section-title h3 {
        font-size: 32px;
    }

    .third-section-subtitle img.line {
        width: 10%;
    }

    .third-section-content {
        width: 90%;
    }

    .third-section-conteiner {
        display: grid;
    }

    .photo-garden {
        width: 48%;
    }

    .third-section-left-content {
        width: 100%;
    }

    .third-section-left-bottom-content {
        display: flex;
        margin-bottom: 40px;
        justify-content: space-between;
    }

    .third-section-left-bottom-content h3 {
        font-size: 22px;
        margin: 0;
        width: 75%;
    }

    .third-section-left-bottom-content p {
        font-size: 15px;
        margin-top: 13px;
        width: 85%;
    }

    .bottom-content h5 {
        font-size: 15px;
    }

    .third-section-right-content {
        width: 100%;
    }

    .third-section-description {
        margin-left: 15px;
        width: 48%;
    }

    .photo {
        width: 37%;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .row-text {
        width: 58%;
        margin-left: 0;
    }

    .row-text h3 {
        font-size: 22px;
    }

    .row-text p {
        font-size: 14px;
        width: 86%;
        line-height: 22px;
    }

    .row-text h5 {
        font-size: 11px;
        margin-top: 10px;
    }

    /* footer  */

    footer {
        height: initial;
    }

    .footer-name h4 {
        font-size: 14px;
    }

    .footer-name h5 {
        font-size: 10px;
    }

    .circle-logo img {
        width: 33px;
    }

    .footer-text p {
        font-size: 11px;
    }

    .footer-title h4 {
        font-size: 13px;
    }

    .text-link a {
        font-size: 10px;
        padding: 20px;
    }

    .social-media img {
        width: 14px;
    }

    .top-content-footer {
        width: 95%;
    }

    .end-text-footer h5 {
        font-size: 11px;
        padding-top: 17px;
    }
}