@media only screen and (max-width:992px) {
    header {
        width: 95%;
        justify-content: space-between;
    }

    .name-logo {
        width: 96.5%;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .logo img {
        width: 80px;
        height: 86px;
        margin-left: -44px;
        margin-top: 0px;
    }

    .name {
        margin-top: 0;
    }

    nav {
        display: block;
        line-height: 70px;
    }

    #hamburger-menu {
        display: block;
        float: none;
        margin-top: 60px;
    }

    #hamburger-menu ul {
        display: block;
    }

    .menu {
        position: fixed;
        width: 45%;
        height: 100vh;
        background-color: rgb(250, 250, 250);
        opacity: 0.95;
        right: 0;
        margin: 0;
        display: block;
        line-height: 80px;
        display: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transform: translateX(0%);
        transition: transform .3s;
        will-change: transform;
        contain: paint;
        animation-duration: .7s;
    }

    .menu ul {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .menu-icon {
        display: flex;
        z-index: 101;
        width: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu-icon input {
        position: absolute;
        border: transprent;
        height: 22px;
        width: 22px;
        z-index: 100;
        opacity: 0;
        margin: 0;
        visibility: visible;
    }

    input.sticky-hamburger,
    .hamburger-lines.sticky-hamburger {
        position: fixed;
    }

    .sticky-menu-icon .hamburger-lines {
        height: 23px;
        width: 28px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .btn.btn-menu {
        display: none;
    }

    .btn-menu h4 {
        font-size: 13px;
        margin: 0;
        text-transform: uppercase;
    }

    .menu li {
        margin: 0;
    }

    .button {
        margin: 0 15px 0 15px;
    }

    #menu {
        display: none;
    }

    .menu-open {
        display: block;
        text-align: center;
        animation-name: slide-out;
    }

    @keyframes slide-out {
        0% {
            transform: translate(100%);
        }

        100% {
            transform: translate(0%);
        }
    }

    .menu-close {
        animation-name: slide-in;
        display: block;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    @keyframes slide-in {
        0% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(100%)
        }
    }

    .menu-close li {
        list-style: none;
    }

    .menu-open ul a:hover {
        color: #475F45;
        transition: color 0.3s ease-in-out;
    }

    .menu-open ul {
        display: block;
    }

    .menu-icon .hamburger-lines {
        display: block;
        height: 22px;
        width: 22px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-icon .hamburger-lines .line {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .menu-icon input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .sticky-menu-icon .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
        width: 27px;
        transform: rotate(45deg);
    }

    .menu-icon input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
        transition: transform 0.2s ease-in-out;
    }

    .sticky-menu-icon .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
        width: 27px;
        transform: rotate(-45deg);
    }

    .menu-link {
        display: flex;
        justify-content: center;
    }

    .line {
        display: block;
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }

    #menu {
        display: none;
    }

    #hamburger-menu {
        display: block;
        float: none;
        margin-top: 60px;
    }

    nav {
        display: block;
    }

    .menu-open li {
        list-style: none;
    }

    .menu li {
        margin-right: 0;
    }

    .menu-open {
        display: block;
        text-align: center;
        animation-name: slide-out;
    }

    .menu {
        position: fixed;
        width: 45%;
        height: 100vh;
        background-color: rgb(250, 250, 250);
        opacity: 0.95;
        right: 0;
        margin: 0;
        display: block;
        line-height: 80px;
        display: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transform: translateX(0%);
        transition: transform .3s;
        will-change: transform;
        contain: paint;
        animation-duration: .7s;
    }

    .menu a {
        font-size: 14px;
        background-image: linear-gradient(to right,
                #475F45,
                #475F45 50%,
                #000 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        transition: all 0.3s ease-in-out;
        letter-spacing: 2px;
        margin: 0;
        cursor: pointer;
    }

    .btn-menu {
        display: none;
    }

    .menu-open {
        text-align: center;
    }

    .menu-open ul a:hover {
        color: #475F45;
        transition: color 0.3s ease-in-out;
    }

    .menu a:hover {
        background-position: 0;
    }

    a.contact-link {
        border-bottom: 3px solid #475F45;
    }

    .menu a:before {
        content: '';
        background: #475F45;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    .menu a:hover::before {
        width: 100%;
    }

    @keyframes slide-out {
        0% {
            transform: translate(100%);
        }

        100% {
            transform: translate(0%);
        }
    }

    .menu-close {
        animation-name: slide-in;
        display: block;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    @keyframes slide-in {
        0% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(100%)
        }
    }

    .menu-close li {
        list-style: none;
    }
}