@media only screen and (max-width:414px) {
    nav {
        line-height: 55px;
    }
    
    .name {
        padding-left: 5px;
        margin: 0;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .logo img {
        width: 70px;
        height: 53px;
        margin-left: -39px;
        margin-top: 5px;
    }

    .name {
        padding-left: 5px;
        margin: 0;
    }

    .name h1 {
        font-size: 15px;
        letter-spacing: 1.5px;
    }

    .menu-icon {
        width: 6%;
    }

    .menu-icon input {
        width: 17px;
        height: 17px;
    }

    .menu-icon .hamburger-lines {
        width: 17px;
        height: 17px;
    }

    .hamburger-lines .line {
        height: 2px;
    }

    .menu {
        width: 55%;
        line-height: 55px;
    }

    #hamburger-menu {
        margin-top: 45px;
    }

    .menu a {
        font-size: 9px;
    }

    .btn {
        width: 95px;
        height: 33px;
    }

    .btn h4 {
        font-size: 8px;
        letter-spacing: 0.5px;
    }

    .hamburger-lines .line {
        height: 2px;
    }

    .sticky-menu-icon .hamburger-lines .line1  {
        transform: rotate(45deg);
        width: 21px;
    }

    .menu-icon input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
        transition: transform 0.2s ease-in-out;
    }

    .sticky-menu-icon .hamburger-lines .line3  {
        transform: rotate(-45deg);
        width: 21px;
    }

    .menu {
        width: 55%;
        line-height: 55px;
    }

    .menu a {
        font-size: 9px;
        letter-spacing: 1px;
    }

    a.contact-link {
        border-bottom: 2px solid #475F45;
    }

    .name p {
        font-size: 8px;
    }
}