@media only screen and (max-width:768px) {
    .name-logo {
        width: 95%;
    }

    .menu-icon {
        width: 5%;
    }

    .menu a {
        font-size: 13px;
    }

    .btn {
        width: 133px;
        height: 45px;
    }
}