@media only screen and (max-width:1400px) {
    header {
        width: 84%;
    }

    .name-logo {
        width: 28%;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .logo img {
        width: 123px;
        height: 91px;
        margin-left: -66px;
    }

    .menu {
        width: 72%;
    }

    #hamburger-menu ul {
        margin: 0;
    }

    .menu li {
        margin-right: 25px;
    }

    .menu a {
        font-size: 12px;
    }

    .btn-menu h4 {
    font-size: 11px;
    }
    
    .btn span {
        font-size: 11px;
    }
    .btn {
        width: 142px;
        height: 47px;
    }
    .top-content-footer {
        width: 80%;
    }
}